<div class="content-wrap">
    <div class="container clearfix">

        <div class="row gutter-50 align-items-center">
            <div class="col-lg-6">
                <div class="col-lg-12">
                    <div class="feature-box fbox-effect flex-column mb-5">
                        <div class="fbox-content">
                            <h1 style="font-size: 100px; margin-bottom: 5%;color: #d39e0a;">Clubhouse </h1>
                            <hr style="margin-bottom: 5%; color:#d39e0a ;">
                            <p style="font-size: 36px; color: #8d7249;">
                                The Clubhouse will feature multi-purpose function room designed for meetings, events,
                                celebrations and community activities. Together with a swimming pool that has a lap pool
                                section and a fitness gym, the clubhouse strives to promote healthy living and family
                                joy in the community.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-12 row">
                    <div class="col-lg-3 text-center">
                        <img data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fimg%2Fswimming1.jpg?alt=media&token=0d6c1102-be0b-4355-bf4c-ee36acb211f5"
                            class="lazyload" style="width: 50%;">
                        <p class="pt-2 center" style="color: #8d7249;">
                            Swimming Pool
                        </p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fimg%2Ffitness1.jpg?alt=media&token=0b856ead-3764-4823-855d-975369372e66"
                            class="lazyload" style="width: 50%;">
                        <p class="pt-2 center" style="color: #8d7249;">
                            Fitness
                        </p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fimg%2Fbbq1.jpg?alt=media&token=8053879a-17e2-4fbe-bb39-247aa01e2df7 "
                            class="lazyload" style="width: 50%;">
                        <p class="pt-2 center" style="color: #8d7249;">
                            BBQ Area
                        </p>
                    </div>
                    <div class="col-lg-3 mb-3 text-center">
                        <img data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fimg%2Fcctv1.jpg?alt=media&token=dc88726e-cd57-4458-ab69-22490f966ce1"
                            class="lazyload" style="width: 50%;">
                        <p class="pt-2 center" style="color: #8d7249;">
                            CCTV
                        </p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fimg%2Fmulti_func1.jpg?alt=media&token=6239e744-cdd7-45ef-8775-440f3d4c682c"
                            class="lazyload" style="width: 50%;">
                        <p class="pt-2 center" style="color: #8d7249;">
                            Multi Function Room
                        </p>
                    </div>
                </div> -->
                <hr style="margin-top: 130px; color:#ffff ;">
                <!-- <div class="feature-box fbox-effect flex-column mb-5">
                    <div class="fbox-content">
                        <div class=" topmargin-lg clearfix">
                            <div id="oc-clients" class="owl-carousel topmargin image-carousel carousel-widget"
                                data-margin="75" data-loop="true" data-nav="false" data-autoplay="5000"
                                data-pagi="false" data-items-xs="2" data-items-sm="2" data-items-md="3"
                                data-items-lg="4" data-items-xl="4">
                                <div class="oc-item">
                                    <img data-src="./assets/img/playground1.jpg">
                                    <p class="center">
                                        Playground
                                    </p>
                                </div>
                                <div class="oc-item">
                                    <img data-src="./assets/img/jogging_lane1.jpg">
                                    <p class="center">
                                        Jogging lane
                                    </p>
                                </div>
                                <div class="oc-item">
                                    <img data-src="./assets/img/green_area1.jpg">
                                    <p class="center">
                                        Green area
                                    </p>
                                </div>
                                <div class="oc-item">
                                    <img data-src="./assets/img/cctv1.jpg">
                                    <p class="center">
                                        CCTV
                                    </p>
                                </div>
                                <div class="oc-item">
                                    <img data-src="./assets/img/security1.jpg">
                                    <p class="center">
                                        Security
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-lg-6">
                <div class="feature-box fbox-effect flex-column mb-5">
                    <div class="fbox-content">
                        <hr style="margin-bottom: 5%; color:#d39e0a ;">
                        <p style="font-size: 20px; color: #8d7249;">
                            CLUBHOUSE AND SWIMMING POOL ARE NOT PART OF THE PUBLIC FACILITY INCLUDED IN THE PROJECT. THE
                            IMAGE SHOWN ON THIS PAGE REPRESENTS AN ARTIST'S IMPRESSION OF THE DEVELOPMENT CONCERNED
                            ONLY. PROSPECTIVE PURCHASERS SHOULD MAKE REFERENCE TO THE SALES TEAM FOR MORE INFORMATION.
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 row">
                    <div class="col-lg-3 text-center">
                        <img data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fimg%2Fswimming1.jpg?alt=media&token=0d6c1102-be0b-4355-bf4c-ee36acb211f5"
                            class="lazyload" style="width: 50%;">
                        <p class="pt-2 center" style="color: #8d7249;">
                            Swimming Pool
                        </p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fimg%2Ffitness1.jpg?alt=media&token=0b856ead-3764-4823-855d-975369372e66"
                            class="lazyload" style="width: 50%;">
                        <p class="pt-2 center" style="color: #8d7249;">
                            Fitness
                        </p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fimg%2Fbbq1.jpg?alt=media&token=8053879a-17e2-4fbe-bb39-247aa01e2df7 "
                            class="lazyload" style="width: 50%;">
                        <p class="pt-2 center" style="color: #8d7249;">
                            BBQ Area
                        </p>
                    </div>
                    <div class="col-lg-3 mb-3 text-center">
                        <img data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fimg%2Fcctv1.jpg?alt=media&token=dc88726e-cd57-4458-ab69-22490f966ce1"
                            class="lazyload" style="width: 50%;">
                        <p class="pt-2 center" style="color: #8d7249;">
                            CCTV
                        </p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fimg%2Fmulti_func1.jpg?alt=media&token=6239e744-cdd7-45ef-8775-440f3d4c682c"
                            class="lazyload" style="width: 50%;">
                        <p class="pt-2 center" style="color: #8d7249;">
                            Multi Function Room
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- <div class="row align-items-center">
                    <div class="block-expand-categories flex-column flex-lg-row d-flex justify-content-center on-click">
                        <div class="expand-category active bg-light" style="background-image: url('./assets/img/bottom-img/1.jpg');">
                            <h4><a href="#" class="text-light">GRACELAND LIGHT</a></h4>
                        </div>

                        <div class="expand-category bg-light" style="background-image: url('./assets/img/bottom-img/2.jpg');">
                            <h4><a href="#" class="text-light">PARK AREA</a></h4>
                        </div>

                        <div class="expand-category bg-light" style="background-image: url('./assets/img/bottom-img/3.jpg');">
                            <h4><a href="#" class="text-light">PARK AREA</a></h4>
                        </div>

                        <div class="expand-category bg-light" style="background-image: url('./assets/img/bottom-img/4.jpg');">
                            <h4><a href="#" class="text-light">GRACELAND NIGHT</a></h4>
                        </div>

                        <div class="expand-category bg-light" style="background-image: url('./assets/img/bottom-img/node-img.jpg');">
                            <h4><a href="#" class="text-light">None PIC</a></h4>
                        </div>

                        <div class="expand-category bg-light" style="background-image: url('./assets/img/bottom-img/node-img.jpg');">
                            <h4><a href="#" class="text-light">None PIC</a></h4>
                        </div>

                        <div class="expand-category bg-light" style="background-image: url('./assets/img/bottom-img/node-img.jpg');">
                            <h4><a href="#" class="text-light">None PIC</a></h4>
                        </div>
                    </div>

                </div> -->

        <div class="clear"></div>
        <div class="content-wrap">

            <div class="container clearfix">
                <div class="card-columns" data-lightbox="gallery">

                    <a href="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_01.jpg?alt=media&token=fed33b37-8944-456e-84aa-4acf79d09e11"
                        data-lightbox="gallery-item">
                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                            data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_01.jpg?alt=media&token=fed33b37-8944-456e-84aa-4acf79d09e11"
                            alt="Image">
                    </a>
                    <a href="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_03.jpg?alt=media&token=5ac7bd9e-d3e2-4034-afa1-093df00888e2"
                        data-lightbox="gallery-item">
                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                            data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_03.jpg?alt=media&token=5ac7bd9e-d3e2-4034-afa1-093df00888e2"
                            alt="Image">
                    </a>
                    <a href="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_04.jpg?alt=media&token=1616b19e-bece-4974-90ac-99a3520841db"
                        data-lightbox="gallery-item">
                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                            data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_04.jpg?alt=media&token=1616b19e-bece-4974-90ac-99a3520841db"
                            alt="Image">
                    </a>
                    <a href="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_05.jpg?alt=media&token=2afc3397-c7a2-4dbf-a92a-2a1476609766"
                        data-lightbox="gallery-item">
                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                            data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_05.jpg?alt=media&token=2afc3397-c7a2-4dbf-a92a-2a1476609766"
                            alt="Image">
                    </a>
                    <a href="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_06.jpg?alt=media&token=41f2ff45-9a39-4399-95de-8e3647f1160e"
                        data-lightbox="gallery-item">
                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                            data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_06.jpg?alt=media&token=41f2ff45-9a39-4399-95de-8e3647f1160e"
                            alt="Image">
                    </a>
                    <a href="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_07.jpg?alt=media&token=0f311054-10e0-47bc-a260-5a52087c3d12"
                        data-lightbox="gallery-item">
                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                            data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_07.jpg?alt=media&token=0f311054-10e0-47bc-a260-5a52087c3d12"
                            alt="Image">
                    </a>
                    <a href="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_08.jpg?alt=media&token=cc8fedbb-2575-4186-a6f3-0a964145a8ef"
                        data-lightbox="gallery-item">
                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                            data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_08.jpg?alt=media&token=cc8fedbb-2575-4186-a6f3-0a964145a8ef"
                            alt="Image">
                    </a>
                    <a href="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_09.jpg?alt=media&token=2f8f6408-97f6-49e7-ba8f-d6c9bc1e79ae"
                        data-lightbox="gallery-item">
                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                            data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_09.jpg?alt=media&token=2f8f6408-97f6-49e7-ba8f-d6c9bc1e79ae"
                            alt="Image">
                    </a>
                    <a href="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_11.jpg?alt=media&token=5aabad3f-f3d4-4795-8f9f-a114068bd116"
                        data-lightbox="gallery-item">
                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                            data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_11.jpg?alt=media&token=5aabad3f-f3d4-4795-8f9f-a114068bd116"
                            alt="Image">
                    </a>
                    <a href="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_12.jpg?alt=media&token=b8a2ccf1-69fb-4137-95c1-dcaba5343b61"
                        data-lightbox="gallery-item">
                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                            data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-23_Grace%20Clubhouse_Final%20Perspective_12.jpg?alt=media&token=b8a2ccf1-69fb-4137-95c1-dcaba5343b61"
                            alt="Image">
                    </a>
                    <a href="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-29_Grace%20Clubhouse_Final%20Perspective_14.jpg?alt=media&token=c55d1f7b-ba82-4ffc-bc41-509ac6357064"
                        data-lightbox="gallery-item">
                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                            data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-29_Grace%20Clubhouse_Final%20Perspective_14.jpg?alt=media&token=c55d1f7b-ba82-4ffc-bc41-509ac6357064"
                            alt="Image">
                    </a>
                    <a href="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-29_Grace%20Clubhouse_Final%20Perspective_16.jpg?alt=media&token=4d67c911-7f08-4c6b-a9ba-d9464dee5bae"
                        data-lightbox="gallery-item">
                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                            data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fclubhouse%2F2564-09-29_Grace%20Clubhouse_Final%20Perspective_16.jpg?alt=media&token=4d67c911-7f08-4c6b-a9ba-d9464dee5bae"
                            alt="Image">
                    </a>

                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>