<div class="section dark m-0">
	<div class="mx-auto center">
    <a href="/view360/graceland" class="button button-xlarge button-border button-circle button-yellow" >
      <h1 class="text-white" style="display: flex; margin: 0;">
        {{ 'BTN.parorama' | translate }}
      </h1>
    </a>
	</div>
</div>

<div class="responsive-pc">
  <div class="section bg-video">
    <div class="row justify-content-center col-mb-50 mb-0 mt-5">
      <div class="col-sm-8 col-lg-6">
          <div class="feature-box text-center media-box fbox-bg">
              <div class="fbox-media">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-eeqR6NOTgI?autoplay=1&mute=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
              </div>
          </div>
      </div>

    </div>
    <div class="section dark m-0 mb-5">
      <div class="mx-auto center" style="width: 100%; margin: 10px 0 ;">
        <h2 class="mb-0 fw-light ls1">
          CUSTOMER REVIEW
        </h2>
      </div>
    </div>
    <div class="row justify-content-center col-mb-50 mb-0">
      <div class="col-sm-6 col-lg-4">
          <div class="feature-box text-center media-box fbox-bg">
              <div class="fbox-media">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/m9I9C39YPps"
                  title="YouTube video player"
                  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
          </div>
      </div>

      <div class="col-sm-6 col-lg-4">
          <div class="feature-box text-center media-box fbox-bg">
              <div class="fbox-media">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TRLmOV8OpZs"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
          </div>
      </div>

      <div class="col-sm-6 col-lg-4">
          <div class="feature-box text-center media-box fbox-bg">
              <div class="fbox-media">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dJ5b_kx6EX8"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
          </div>
      </div>
    </div>
    <div class="section dark m-0 mb-5">
      <div class="mx-auto center" style="width: 100%; margin-top: 10px;margin-bottom: 10px;">
        <h2 class="mb-0 fw-light ls1">
          CEO & GRACELAND PROJECT
        </h2>
      </div>
    </div>
    <div class="row justify-content-center col-mb-50 mb-0">
      <div class="col-sm-6 col-lg-4">
          <div class="feature-box text-center media-box fbox-bg">
              <div class="fbox-media">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/tR20-malO5k"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              </div>
          </div>
      </div>

      <div class="col-sm-6 col-lg-4">
          <div class="feature-box text-center media-box fbox-bg">
              <div class="fbox-media">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/M9JfpiKRpfs" title="YouTube video player"
                  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
          </div>
      </div>
    </div>

  </div>
</div>


<div class="responsive-m">
  <div class="section bg-video">
          <section id="content">
            <div class="container bg-video clearfix">
              <div class="row justify-content-center col-mb-50 mb-0 mt-5">
                <div class="col-sm-8 col-lg-6">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-eeqR6NOTgI?autoplay=1&mute=1"
                              title="YouTube video player" frameborder="0"
                              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </section>
          <div class="section dark m-0 mb-5">
                <div class="mx-auto center" style="width: 100%; margin: 10px 0 ;">
                  <h2 class="mb-0 fw-light ls1">
                    CUSTOMER REVIEW
                  </h2>
                </div>
          </div>
          <section id="content">
            <div class="container bg-video clearfix">
              <div class="row justify-content-center col-mb-50 mb-0">
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/m9I9C39YPps"
                            title="YouTube video player"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/TRLmOV8OpZs"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/dJ5b_kx6EX8"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </section>
            <div class="section dark m-0 mb-5">
                  <div class="mx-auto center" style="width: 100%; margin: 10px 0 ;">
                    <h2 class="mb-0 fw-light ls1">
                      CEO TALK & GRACELAND PROJECT
                    </h2>
                  </div>
            </div>
          <section id="content">
              <div class="container bg-video clearfix">
              <div class="row justify-content-center col-mb-50 mb-0">
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/tR20-malO5k"
                          title="YouTube video player" frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/M9JfpiKRpfs" title="YouTube video player"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
              </div>
              </div>
          </section>
  </div>
</div>


