<!-- Page Title
		============================================= -->
        <section id="page-title" class="page-title-dark page-title-center p-0">

            <div class="fslider" data-arrows="false" data-pagi="false" data-animation="fade" data-hover="false">
                <div class="flexslider">
                    <div class="responsive-pc">
                        <div class="entry-image align-full mb-0">
                            <img data-animate="fadeInUp"
                                data-src="./assets/images/csr/bg-csr.png"
                                alt="Blog Single" class="lazyload" style="width: 100%; height: 550px;">
                        </div>
                        <div data-animate="fadeIn" data-delay="500" class="vertical-middle vertical-middle-overlay pt-3">
                            <div class="container clearfix">
                                <h1>Corporate Social Responsibility</h1>
                                <span>NAMTHONG GROUP</span>
                                <!-- <span>A Short Page Title Tagline</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="responsive-m-phone">
                        <div class="entry-image align-full mb-0">
                            <img data-animate="fadeInUp"
                                data-src="./assets/images/csr/bd-csr-m.png"
                                alt="Blog Single" class="lazyload" style="width: 100%; height: auto;">
                        </div>
                        <div data-animate="fadeIn" data-delay="500" class="vertical-middle vertical-middle-overlay pt-3">
                            <div class="container clearfix">
                                <h1>Corporate Social Responsibility</h1>
                                <span>NAMTHONG GROUP</span>
                                <!-- <span>A Short Page Title Tagline</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </section>
        <!-- #page-title end -->

<!-- Namthong
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1 style="color: #8d7350; letter-spacing: 0px;" class="">
            {{ 'csr.head1' | translate }}
        </h1>
    </div>

</section>
<!-- #Namthong end -->

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row gutter-40 col-mb-80">
                <!-- Post Content
        ============================================ -->
                <div class="postcontent col-lg-12">

                    <div class="single-post mb-0">

                        <!-- Single Post
                ============================================ -->
                        <div class="entry clearfix" style="white-space: pre-line">

                    <!-- Entry Title
                    ============================================ -->
                    <!-- <div class="entry-title">
                        <h2>กิจกรรมเพื่อสังคม ในเครือน้ำทองกรุ๊ป</h2>
                    </div> -->
                    <!-- .entry-title end -->

                    <!-- Entry Content
                    ============================================ -->
                            <div class="entry-content">

                                
                                <p class="text-m responsive-pc">
                                    {{ 'csr.titleHead.title1' | translate }}
                                </p>
                                <p class="text-m responsive-m-phone text-center" style="letter-spacing: 0px;">
                                    {{ 'csr.titleHead.title1.m' | translate }}
                                </p>

                                <div class="row align-wide-xl mb-4 text-center d-flex justify-content-center ">
                                    <div class="col-sm-6 mb-2 responsive-pc">
                                        <img data-src="./assets/images/csr/F-1.png"
                                            alt="Image" class="lazyload img-size">
                                            <figcaption class="text-center mt-3 text-muted text-name-m ">
                                                นายทวีศักดิ์  ล้อบุณยารักษ์
                                            </figcaption>
                                    </div>
                                    <div class="col-sm-6 mb-2 responsive-m-phone d-flex justify-content-center">
                                        <img data-src="./assets/images/csr/F-M1.png"
                                            alt="Image" class="lazyload img-size ">
                                        <!-- <img data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fabout%2F1-click.jpg?alt=media&token=819e0cc3-919f-4e4f-8578-e4d2c3092d29"
                                            alt="Image" class="lazyload"> -->
                                            <figcaption class="text-center mt-3 text-muted text-name-m"  style="letter-spacing: 0px;">
                                                นายทวีศักดิ์  ล้อบุณยารักษ์
                                            </figcaption>
                                    </div>
                                </div>

                                <div class="responsive-pc">
                                    <p class="mt-1 mb-5 ">
                                        <!-- และเมื่อวันที่ 13 พฤษภาคม 2562 เวลา 14.20 น. ที่วิทยาลัยพยาบาลบรมราชชนนีแพร่ ตำบลนาจักร อำเภอเมืองแพร่ จังหวัดแพร่ 
                                        สมเด็จพระกนิษฐาธิราชเจ้า กรมสมเด็จพระเทพรัตนราชสุดา สยามบรมราชกุมารี เสด็จพระราชดำเนินไปทรงเปิดป้ายวิทยาลัยพยาบาลบรมราชชนนีแพร่
                                        โดยมีข้าราชการชั้นผู้ใหญ่ของกระทรวงสาธารณสุข และจังหวัดแพร่ 
                                        ประชาชนชาวแพร่เฝ้ารับเสด็จ ณ บริเวณอาคาร กีฬาและสันทนาการ วิทยาลัยพยาบาลบรมราชชนนีแพร่ -->
                                        {{ 'csr.titleHead.title2' | translate }}
                                    </p>
                                </div>
                                <div class="responsive-m-phone text-center">
                                    <p class="mb-2 text-m" style="letter-spacing: 0px;">
                                        <!-- และเมื่อวันที่ 13 พฤษภาคม 2562 เวลา 14.20 น. ที่วิทยาลัยพยาบาลบรมราชชนนีแพร่ ตำบลนาจักร อำเภอเมืองแพร่ จังหวัดแพร่ 
                                        สมเด็จพระกนิษฐาธิราชเจ้า กรมสมเด็จพระเทพรัตนราชสุดา สยามบรมราชกุมารี เสด็จพระราชดำเนินไปทรงเปิดป้ายวิทยาลัยพยาบาลบรมราชชนนีแพร่
                                        โดยมีข้าราชการชั้นผู้ใหญ่ของกระทรวงสาธารณสุข และจังหวัดแพร่ 
                                        ประชาชนชาวแพร่เฝ้ารับเสด็จ ณ บริเวณอาคาร กีฬาและสันทนาการ วิทยาลัยพยาบาลบรมราชชนนีแพร่ -->
                                        {{ 'csr.titleHead.title2.m' | translate }}
                                    </p>
                                </div>
                                
                                <div data-animate="fadeIn" data-delay="100" class="mb-4 text-center responsive-pc">
                                    <div class="row ">
                                        <div class="col-sm-6 ">
                                            <img data-src="./assets/images/csr/4.png" 
                                                alt="Image" class="lazyload">
                                        </div>
                                        <div class="col-sm-6">
                                            <img data-src="./assets/images/csr/S11.png"
                                                alt="Image" class="lazyload">
                                        </div>
                                    </div>

                                </div>



                                <div class="container img-responsive responsive-m-phone">
                                    <ng-image-slider #nav 
                                        [images]="nursingCollege" [infinite]="false" [autoSlide]="1"
                                        [animationSpeed]="0.5" [imageSize]="{width: '100%', height: '20%'}"
                                        slideImage="1">
                                    </ng-image-slider>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gutter-40 col-mb-80 mb-5 responsive-pc">
                    <div class="row">
                        <div class="col-4">
                            <div class="card text-center" style="
                                background-repeat: no-repeat;
                                background-image: url('./assets/images/csr/bg-cards-1.png');
                            ">
                                <!-- <div class="card-header">
                                    Featured
                                </div> -->
                                <div class="card-body mt-5 mb-5" data-lightbox="gallery">
                                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                                    <p class="card-text text-white ">
                                        <!-- บริจาค ชุด PPE , Face Shield , แอลกอฮอล์ แก่โรงพยาบาล เพื่อใช้ในกิจกรรมป้องกันโควิด-19 -->
                                        {{ 'csr.headCrad1' | translate }}
                                    </p>
                                    <a href="./assets/images/csr/card/S6.png"
                                        class="btn btn-warning" data-lightbox="gallery-item" target="_blank" 
                                        rel="noreferrer">
                                        Gallery
                                    </a>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <a href="./assets/images/csr/card/S7.png"
                                                        data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                            data-src="./assets/images/csr/card/S7.png"
                                                            alt="Image">
                                                    </a>
                                                    <a href="./assets/images/csr/card/S9.png"
                                                        data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                            data-src="./assets/images/csr/card/S9.png"
                                                            alt="Image">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="card-footer text-muted">
                                    2 days ago
                                </div> -->
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card text-center" style=" 
                            background-repeat: no-repeat;
                            background-image: url('./assets/images/csr/bg-cards-2.png');
                            ">
                                <!-- <div class="card-header">
                                    Featured
                                </div> -->
                                <div class="card-body mt-5 mb-5 " data-lightbox="gallery">
                                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                                    <p class="card-text text-white">
                                        <!-- บริจาคเครื่องเป่าใบไม้ เพื่อ ทำแนวกันไฟป่า และ กิจกรรมบริจาคโลหิต -->
                                        {{ 'csr.headCrad2' | translate }}
                                    </p>
                                    <a href="./assets/images/csr/card/S4.png"
                                        class="btn btn-warning" data-lightbox="gallery-item" target="_blank" 
                                        rel="noreferrer">
                                        Gallery
                                    </a>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <a href="./assets/images/csr/card/S5.png"
                                                        data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                            data-src="./assets/images/csr/card/S5.png"
                                                            alt="Image">
                                                    </a>
                                                    <a href="./assets/images/csr/card/S10.png"
                                                        data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                            data-src="./assets/images/csr/card/S10.png"
                                                            alt="Image">
                                                    </a>
                                                    <a href="./assets/images/csr/card/S8.png"
                                                        data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                            data-src="./assets/images/csr/card/S8.png"
                                                            alt="Image">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="card-footer text-muted">
                                    2 days ago
                                </div> -->
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card text-center" style=" 
                                background-repeat: no-repeat;
                                background-image: url('./assets/images/csr/bg-cards-3.png');
                            ">
                                <!-- <div class="card-header">
                                    Featured
                                </div> -->
                                <div class="card-body mt-5 mb-5" data-lightbox="gallery">
                                    <!-- <h5 class="card-title">กิจกรรมเพื่อการศึกษา มอบทุนการศึกษา และ เลี้ยงอาหารเด็กพิการ</h5> -->
                                    <p class="card-text text-white">
                                        <!-- กิจกรรมเพื่อการศึกษา มอบทุนการศึกษา  และ เลี้ยงอาหารเด็กพิการ -->
                                        {{ 'csr.headCrad3' | translate }}
                                    </p>
                                    <a href="./assets/images/csr/card/S__32571479.jpg"
                                        class="btn btn-warning" data-lightbox="gallery-item" target="_blank" 
                                        rel="noreferrer">
                                        Gallery
                                    </a>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <a href="./assets/images/csr/card/S__32571483.jpg"
                                                        data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                            data-src="./assets/images/csr/card/S__32571483.jpg"
                                                            alt="Image">
                                                    </a>
                                                    <a href="./assets/images/csr/card/S__32571477.jpg"
                                                        data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                            data-src="./assets/images/csr/card/S__32571477.jpg"
                                                            alt="Image">
                                                    </a>
                                                    <a href="./assets/images/csr/card/S__32571476.jpg"
                                                        data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                            data-src="./assets/images/csr/card/S__32571476.jpg"
                                                            alt="Image">
                                                    </a>
                                                    <a href="./assets/images/csr/card/S__32571475.jpg"
                                                        data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                        <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                            data-src="./assets/images/csr/card/S__32571475.jpg"
                                                            alt="Image">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="card-footer text-muted">
                                    2 days ago
                                </div> -->
                            </div>
                        </div>
                    </div>
            </div>
                    
            <div class="row gutter-40 col-mb-80 mb-5 responsive-m-phone">
                <div class="col-12 mt-1">
                    <div class="card text-center" style="
                        background-repeat: no-repeat;
                        background-image: url('./assets/images/csr/bg-cards-1.png');
                    ">
                        <!-- <div class="card-header">
                            Featured
                        </div> -->
                        <div class="card-body mt-5 mb-4" data-lightbox="gallery">
                            <!-- <h5 class="card-title">Special title treatment</h5> -->
                            <p class="card-text text-white">
                                <!-- บริจาค ชุด PPE , Face Shield , แอลกอฮอล์ แก่โรงพยาบาล เพื่อใช้ในกิจกรรมป้องกันโควิด-19 -->
                                {{ 'csr.headCrad1' | translate }}
                            </p>
                            <a href="./assets/images/csr/card/S9.png"
                                class="btn btn-warning" data-lightbox="gallery-item" target="_blank" 
                                rel="noreferrer">
                                Gallery
                            </a>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <a href="./assets/images/csr/card/S6.png"
                                                data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                    data-src="./assets/images/csr/card/S6.png"
                                                    alt="Image">
                                            </a>
                                            <a href="./assets/images/csr/card/S7.png"
                                                data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                    data-src="./assets/images/csr/card/S7.png"
                                                    alt="Image">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card-footer text-muted">
                            2 days ago
                        </div> -->
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="card text-center" style=" 
                            background-repeat: no-repeat;
                            background-image: url('./assets/images/csr/bg-cards-2.png');
                        ">
                        <!-- <div class="card-header">
                            Featured
                        </div> -->
                        <div class="card-body mt-5 mb-5 " data-lightbox="gallery">
                            <!-- <h5 class="card-title">Special title treatment</h5> -->
                            <p class="card-text text-white">
                                <!-- บริจาคเครื่องเป่าใบไม้ เพื่อ ทำแนวกันไฟป่า และ กิจกรรมบริจาคโลหิต -->
                                {{ 'csr.headCrad2' | translate }}
                            </p>
                            <a href="./assets/images/csr/card/S4.png"
                                class="btn btn-warning" data-lightbox="gallery-item" target="_blank" 
                                rel="noreferrer">
                                Gallery
                            </a>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <a href="./assets/images/csr/card/S5.png"
                                                data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                    data-src="./assets/images/csr/card/S5.png"
                                                    alt="Image">
                                            </a>
                                            <a href="./assets/images/csr/card/S10.png"
                                                data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                    data-src="./assets/images/csr/card/S10.png"
                                                    alt="Image">
                                            </a>
                                            <a href="./assets/images/csr/card/S8.png"
                                                data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                    data-src="./assets/images/csr/card/S8.png"
                                                    alt="Image">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card-footer text-muted">
                            2 days ago
                        </div> -->
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="card text-center" style=" 
                            background-repeat: no-repeat;
                            background-image: url('./assets/images/csr/bg-cards-3.png');
                        ">
                        <!-- <div class="card-header">
                            Featured
                        </div> -->
                        <div class="card-body mt-5 mb-5" data-lightbox="gallery">
                            <!-- <h5 class="card-title">กิจกรรมเพื่อการศึกษา มอบทุนการศึกษา และ เลี้ยงอาหารเด็กพิการ</h5> -->
                            <p class="card-text text-white">
                                <!-- กิจกรรมเพื่อการศึกษา มอบทุนการศึกษา  และ เลี้ยงอาหารเด็กพิการ -->
                                {{ 'csr.headCrad3' | translate }}
                            </p>
                            <a href="./assets/images/csr/card/S__32571479.jpg"
                                class="btn btn-warning" data-lightbox="gallery-item" target="_blank" 
                                rel="noreferrer">
                                Gallery
                            </a>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <a href="./assets/images/csr/card/S__32571483.jpg"
                                                data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                    data-src="./assets/images/csr/card/S__32571483.jpg"
                                                    alt="Image">
                                            </a>
                                            <a href="./assets/images/csr/card/S__32571477.jpg"
                                                data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                    data-src="./assets/images/csr/card/S__32571477.jpg"
                                                    alt="Image">
                                            </a>
                                            <a href="./assets/images/csr/card/S__32571476.jpg"
                                                data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                    data-src="./assets/images/csr/card/S__32571476.jpg"
                                                    alt="Image">
                                            </a>
                                            <a href="./assets/images/csr/card/S__32571475.jpg"
                                                data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                                                <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                                                    data-src="./assets/images/csr/card/S__32571475.jpg"
                                                    alt="Image">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card-footer text-muted">
                            2 days ago
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
