<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="fslider" data-arrows="false" data-pagi="false" data-animation="fade" data-hover="false">
                <div class="flexslider">
                </div>
            </div>

            <div class="row justify-content-center mb-5">
                <div class="col-xl-6 col-lg-8 text-center">
                    <h3 class="h1 fw-bold mb-3">FAMILY BLISS</h3>
                    <p>TYPE A</p>
                </div>
            </div>
            <div class="clear"></div>
            <!-- Grid row -->
            <div data-animate="fadeInUp" data-delay="200" class="card-columns" data-lightbox="gallery">
                <a href="../../../../../assets/images/gallery/a-detail/09.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-detail/09.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-detail/13.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-detail/13.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-detail/02.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-detail/02.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-detail/26.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-detail/26.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-detail/31.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-detail/31.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-detail/01.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-detail/01.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-detail/Graceland_016.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-detail/Graceland_016.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-detail/21.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-detail/21.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-detail/03.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-detail/03.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-detail/Graceland_025.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-detail/Graceland_025.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-detail/04.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-detail/04.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-detail/07.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-detail/07.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-detail/Graceland_022.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-detail/Graceland_022.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-detail/30.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-detail/30.webp"
                        alt="Image">
                </a>
            </div>
            <!-- Grid row -->
            <div class="container text-center pt-5 mb-5">
                <a data-animate="fadeInUp" data-delay="200" href="../../view360/graceland_type_a">
                    <button type="button" class="button button-xlarge button-border button-circle button-yellow" style=""><i class="icon-street-view" style="margin-right: 5px;"></i>  360° TYPE A</button>
                </a>
                </div>
        </div>
    </div>
</section>
