<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="fslider" data-arrows="false" data-pagi="false" data-animation="fade" data-hover="false">
                <div class="flexslider">
                </div>
            </div>

            <div class="section dark m-0 mb-5">
                <div class="mx-auto center" style="width: 100%; margin-top: 10px;margin-bottom: 10px;">
                    <h2 class="mb-0 fw-light ls1">
                        <!-- GRACELAND ชุมชนที่จะมอบสิ่งที่ดีที่สุดเพื่อคุณ -->
                        {{ 'video.header1' | translate }}
                    </h2>
                </div>
            </div>


            <div class="row justify-content-center col-mb-50 mb-0">
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                            <iframe src="https://youtu.be/-eeqR6NOTgI" title="YouTube video player" width="560" height="315" allowfullscreen></iframe>
                        </div>
                        <div class="fbox-content">
                            <h3>Teaser Graceland Family Residences Chiangmai</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                            <iframe  src="https://www.youtube.com/embed/tR20-malO5k" title="YouTube video player" width="560" height="315" allowfullscreen></iframe>
                        </div>
                        <div class="fbox-content">
                            <h3>CEO Talk Graceland Family Residences Chiangmai</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                            <iframe src="https://www.youtube.com/embed/M9JfpiKRpfs" title="YouTube video player" width="560" height="315" allowfullscreen></iframe>
                        </div>
                        <div class="fbox-content">
                            <h3>Graceland Project</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fancy-title title-border">
                <h3>
                    <!-- Type & Plan -->
                    {{ 'video.title1' | translate }}
                </h3>
            </div>


            <div class="row justify-content-center col-mb-50 mb-0">
                <div class="col-sm-6 col-lg-3">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                            <iframe src="https://www.youtube.com/embed/P9qzifH75lQ" title="YouTube video player" width="560" height="315" allowfullscreen></iframe>
                        </div>
                        <div class="fbox-content">
                            <h3>Graceland Family Residences Review Type A Family Bliss</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                            <iframe src="https://www.youtube.com/embed/whLjJI3bWIA" title="YouTube video player" width="560" height="315" allowfullscreen></iframe>
                        </div>
                        <div class="fbox-content">
                            <h3>Graceland Family Residences Review Type B Family Harmony</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                            <iframe src="https://www.youtube.com/embed/GTNS8zxnvsM" title="YouTube video player" width="560" height="315" allowfullscreen></iframe>
                        </div>
                        <div class="fbox-content">
                            <h3>Graceland Family Residences Review Type C Family Delight
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                            <iframe src="https://www.youtube.com/embed/dOOh72Zze4A" title="YouTube video player" width="560" height="315" allowfullscreen></iframe>
                        </div>
                        <div class="fbox-content">
                            <h3>Graceland Family Residences Type D Family Comfort</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fancy-title title-border">
                <h3>
                    {{ 'video.title2' | translate }}
                </h3>
            </div>

            <div class="row justify-content-center col-mb-50 mb-0">
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/_HjWFjBJHy8" title="YouTube video player" allowfullscreen></iframe>
                        </div>
                        <div class="fbox-content">
                            <h3>Facility and Community Hub Graceland Family Residences</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section dark m-0 mb-5">
                <div class="mx-auto center" style="width: 100%; margin-top: 10px;margin-bottom: 10px;">
                    <h2 class="mb-0 fw-light ls1">
                        {{ 'video.header2' | translate }}
                        <!-- CUSTOMER REVIEW GRACELAND -->
                    </h2>
                </div>
            </div>

            <div class="row justify-content-center col-mb-50 mb-0">
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                            <iframe width="560" height="315" src="https://youtu.be/-eeqR6NOTgI" title="YouTube video player"  allowfullscreen></iframe>
                        </div>
                        <div class="fbox-content">
                            <h3>Customer Review 01 Graceland Family Residences</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/TRLmOV8OpZs" title="YouTube video player"  allowfullscreen></iframe>
                        </div>
                        <div class="fbox-content">
                            <h3>Customer Review 02 Graceland Family Residences</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/dJ5b_kx6EX8" title="YouTube video player"  allowfullscreen></iframe>
                        </div>
                        <div class="fbox-content">
                            <h3>Customer Review 03 Graceland Family Residences</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fancy-title title-border">
                <h3></h3>
            </div>


            <div class="row justify-content-center col-mb-50 mb-0">
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                            <iframe  width="560" height="315" src="https://www.youtube.com/embed/m6kwiHmknQ8" title="YouTube video player"  allowfullscreen></iframe>
                        </div>
                        <div class="fbox-content">
                            <h3>NamThong Group Success Story</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/pSwAveeNsAw" title="YouTube video player" allowfullscreen></iframe>
                        </div>
                        <div class="fbox-content">
                            <h3>NamThong Group Customer review</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box text-center media-box fbox-bg">
                        <div class="fbox-media">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/BtdQ7NBTD5A" title="YouTube video player" allowfullscreen></iframe>
                        </div>
                        <div class="fbox-content">
                            <h3>GRACELAND EP.1</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--
<div class="section">
    <div class="section dark m-0">
        <div class="mx-auto center" style="width: 100%; margin-top: 10px;margin-bottom: 10px;">
            <h2 class="mb-0 fw-light ls1">
                GRACELAND ชุมชนที่จะมอบสิ่งที่ดีที่สุดเพื่อคุณ
            </h2>
        </div>
    </div>
    <div class="row align-items-center mt-5 mb-5">
        <div class="col-4">
            <iframe width="560" height="315" src="https://youtu.be/-eeqR6NOTgI"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TRLmOV8OpZs"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dJ5b_kx6EX8"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="section dark m-0">
        <div class="mx-auto center" style="width: 100%; margin-top: 10px;margin-bottom: 10px;">
            <h2 class="mb-0 fw-light ls1">
                CEO & GRACELAND PROJECT
            </h2>
        </div>
    </div>
    <div class="row align-items-center mt-5 mb-5">
        <div class="col-5 offset-1">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tR20-malO5k"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/M9JfpiKRpfs"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

</div> -->
