<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="fslider" data-arrows="false" data-pagi="false" data-animation="fade" data-hover="false">
                <div class="flexslider">
                </div>
            </div>

            <div class="row justify-content-center mb-5">
                <div class="col-xl-6 col-lg-8 text-center">
                    <h3 class="h1 fw-bold mb-3">FAMILY BLISS</h3>
                    <p>TYPE A</p>
                </div>
            </div>
            <div class="clear"></div>
            <!-- Grid row -->
            <div data-animate="fadeInUp" data-delay="200" class="card-columns" data-lightbox="gallery">
                <a href="../../../../../assets/images/gallery/a-main/09.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-main/09.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-main/21.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-main/21.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-main/01.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-main/01.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-main/13.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-main/13.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-main/04.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-main/04.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-main/03.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-main/03.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-main/31.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-main/31.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/a-main/02.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-main/02.webp"
                        alt="Image">
                </a>
                <a href="/gallery/gallery-type-a" class="rp-mobile-more">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/a-main/more.jpg"
                        alt="Image">
                </a>
            </div>
            <!-- Grid row -->
            <div class="container text-center pt-5 mb-5">
                <a data-animate="fadeInUp" data-delay="200" href="../../view360/graceland_type_a">
                    <button type="button" class="button button-xlarge button-border button-circle button-yellow" style=""><i class="icon-street-view" style="margin-right: 5px;"></i>  360° TYPE A</button>
                </a>
                </div>

                <hr style="background-color: #d49f43;">
        </div>
    </div>
</section>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row justify-content-center mb-5">
                <div class="col-xl-6 col-lg-8 text-center">
                    <h3 class="h1 fw-bold mb-3">FAMILY HARMONY</h3>
                    <p>TYPE B</p>
                </div>
            </div>
            <div class="clear"></div>

            <!-- Grid row -->
            <div data-animate="fadeInUp" data-delay="200" class="card-columns" data-lightbox="gallery">
                <a href="../../../../../assets/images/gallery/b-main/DSC01941-Edit.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/b-main/DSC01941-Edit.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/b-main/33.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/b-main/33.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/b-main/29.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/b-main/29.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/b-main/26.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/b-main/26.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/b-main/47.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/b-main/47.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/b-main/24.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/b-main/24.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/b-main/10.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/b-main/10.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/b-main/33.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/b-main/33.webp"
                        alt="Image">
                </a>
                <a href="/gallery/gallery-type-b" class="rp-mobile-more">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/b-main/more-type-b.jpg"
                        alt="Image">
                </a>
            </div>
            <!-- Grid row -->

            <div class="container text-center pt-5 mb-5">
                <a data-animate="fadeInUp" data-delay="200" href="../../view360/graceland_type_b">
                    <button type="button" class="button button-xlarge button-border button-circle button-yellow" style=""><i class="icon-street-view" style="margin-right: 5px;"></i>  360° TYPE B</button>
                </a>
                </div>

                <hr style="background-color: #d49f43;">

        </div>
    </div>
</section>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row justify-content-center mb-5">
                <div class="col-xl-6 col-lg-8 text-center">
                    <h3 class="h1 fw-bold mb-3">FAMILY DELIGHT</h3>
                    <p>TYPE C</p>
                </div>
            </div>

            <div class="clear"></div>

            <!-- Grid row -->
            <div data-animate="fadeInUp" data-delay="200" class="card-columns" data-lightbox="gallery">
                <a href="../../../../../assets/images/gallery/c-main/Graceland_054.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-main/Graceland_054.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/c-main/03.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-main/03.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/c-main/08.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-main/08.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/c-main/01.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-main/01.webp"
                        alt="Image">
                </a>

                <a href="../../../../../assets/images/gallery/c-main/Graceland_044.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-main/Graceland_044.jpg"
                        alt="Image">
                </a>

                <a href="../../../../../assets/images/gallery/c-main/15.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-main/15.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/c-main/02.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-main/02.webp"
                        alt="Image">
                </a>
                <a href="/gallery/gallery-type-c" class="rp-mobile-more">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-main/more-type-c.jpg"
                        alt="Image">
                </a>
            </div>
            <!-- Grid row -->

            <div class="container text-center pt-5 mb-5">
                <a data-animate="fadeInUp" data-delay="200" href="../../view360/graceland_type_c" target="_blank" rel="noreferrer">
                    <button type="button" class="button button-xlarge button-border button-circle button-yellow" style=""><i class="icon-street-view" style="margin-right: 5px;"></i>  360° TYPE C</button>
                </a>
                </div>

                <hr style="background-color: #d49f43;">

        </div>
    </div>
</section>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row justify-content-center mb-5">
                <div class="col-xl-6 col-lg-8 text-center">
                    <h3 class="h1 fw-bold mb-3">FAMILY COMFORT</h3>
                    <p>TYPE D</p>
                </div>
            </div>

            <div class="clear"></div>

            <!-- Grid row -->
            <div data-animate="fadeInUp" data-delay="200" class="card-columns" data-lightbox="gallery">
                <a href="../../../../../assets/images/gallery/d-main/DSC01945-Edit.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-main/DSC01945-Edit.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-main/06.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-main/06.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-main/26.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-main/26.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-main/09.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-main/09.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-main/DSC01869.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-main/DSC01869.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-main/41.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-main/41.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-main/DSC01874-Edit.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-main/DSC01874-Edit.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-main/47.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-main/47.webp"
                        alt="Image">
                </a>
                <a href="/gallery/gallery-type-d" class="rp-mobile-more">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-main/more-type-d.jpg"
                        alt="Image">
                </a>
            </div>
            <!-- Grid row -->

            <div class="container text-center pt-5 mb-5">
                <a data-animate="fadeInUp" data-delay="200" href="../../view360/graceland_type_d">
                    <button type="button" class="button button-xlarge button-border button-circle button-yellow" style=""><i class="icon-street-view" style="margin-right: 5px;"></i>  360° TYPE D</button>
                </a>
                </div>

                <hr style="background-color: #d49f43;">


        </div>
    </div>
</section>
