<div class="container">
    <div class="modal-header pt-15 justify-content-center">
      <div class="modal-title h2" id="example-modal-sizes-title-lg">
        About Greaceland
      </div>
    </div>
    <div class="cursor-default modal-body h4">
      <ng-container>
         <div class="form-group">
            <div class="col-lg-12 text-center">
                <img src="../../../../../assets/img/banner-bg-03.jpg" 
                    class="img-fluid" alt="Greaceland Preview"
                    width="70%">
            </div>
          </div>
      </ng-container>
    </div>
    <!-- <div class="cursor-default modal-body">
        <ng-container>
           <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 offset-lg-3">
                                <label class="">
                                    โครงการ :
                                  </label>
                              </div>
                              <div class="col-lg-3">
                                <label class="">
                                    Greaceland HangDong, Chiang Mai
                                </label>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 offset-lg-3">
                                <label class="">
                                    ที่ตั้งโครงการ :
                                  </label>
                              </div>
                              <div class="col-lg-3">
                                <label class="text-left">
                                    Greaceland HangDong, Chiang Mai
                                </label>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 offset-lg-3">
                                <label class="">
                                    พื้นที่โครงการ
                                  </label>
                              </div>
                              <div class="col-lg-3">
                                <label class="text-left">
                                    Greaceland HangDong, Chiang Mai
                                </label>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 offset-lg-3">
                                <label class="">
                                    จำนวนบ้านภายในโครงการ :
                                  </label>
                              </div>
                              <div class="col-lg-3">
                                <label class="text-left">
                                    Greaceland HangDong, Chiang Mai
                                </label>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 offset-lg-3">
                                <label class="">
                                    สิ่งอำนวยความสะดวก :
                                  </label>
                              </div>
                              <div class="col-lg-3">
                                <label class="text-left">
                                    Greaceland HangDong, Chiang Mai
                                </label>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 offset-lg-3">
                                <label class="">
                                    ระบบรักษาความปลอดภัย :
                                  </label>
                              </div>
                              <div class="col-lg-3">
                                <label class="text-left">
                                    Greaceland HangDong, Chiang Mai
                                </label>
                              </div>
                        </div>
                    </div>
                </div>

            </div>
        </ng-container>
    </div> -->
  </div>

  