<!-- Master Plan============================================= -->

<section id="page-title">
    <div class="container clearfix ">
        <h1 style="color:#8D7249;">Graceland Project</h1>
    </div>
</section><!-- #Namthong end -->

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row gutter-40 col-mb-80">
                <!-- Post Content ============================================= -->
                <div class="postcontent col-lg-12">

                    <div class="single-post mb-0">

                        <!-- Single Post ============================================= -->
                        <!-- <div class="entry clearfix">
                            <div class="entry-content mt-0">
                                <div class="entry-image align-wide-xl my-3">
                                    <a href="#"><img
                                            data-src="./assets/img/master_plan_B1.png"
                                            alt="Blog Single" class="lazyload"></a>
                                    <figcaption class="text-center mt-2 text-muted text-smaller">
                                        Master Plan Graceland.
                                    </figcaption>
                                </div>
                            </div>
                        </div> -->
                        <!-- .entry end -->
                        <!-- Single Post
                        ============================================ -->
                        <div class="entry clearfix">
                            <!-- Entry Content
                                    ============================================ -->
                            <div class="entry-content mt-0">
                                <div class="" style="text-align: justify;">
                                    <span style="font-size: 20px;">
                                        {{ 'GracelandProject.detail1' | translate }}
                                    </span>
                                </div>

                                <div class="pt-3 mb-3" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        {{ 'GracelandProject.detail2' | translate }}
                                    </span>
                                </div>

                                <div class="" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        {{ 'GracelandProject.detail3' | translate }}
                                    </span>
                                </div>

                                <!-- <div class="" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        Ultimately, we aim to cultivate students of Christ-like character and values who
                                        will transform their world.
                                    </span>
                                </div>

                                <div class="" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        The Non-Thai faculty and staff at GIS have a strong faith in Jesus Christ and
                                        serve at GIS by raising their own support in order to keep tuition costs
                                        affordable. The result is a dedicated team committed to providing students with
                                        an outstanding education from a Christian perspective.
                                    </span>
                                </div>

                                <div class="mb-3" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        The school is located in a suburban area southwest of Chiang Mai, Thailand.
                                        Chiang Mai, the second largest province in Thailand, is nestled in the scenic
                                        Ping River valley at the foot of Doi Suthep Mountain. With an international
                                        airport, rail and bus lines, and major highway routes, Chiang Mai is
                                        well-connected with the rest of Southeast Asia and the world.
                                    </span>
                                </div> -->
                                <br>
                            </div>
                        </div>
                        <!-- .entry end -->
                    </div>
                </div><!-- .postcontent end -->
            </div>
        </div>
    </div>
</section>

<!-- Customer Review
                ============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1 style="color:#8D7249;">GRACELAND LATEGRATED COMMUNITY</h1>
    </div>

</section><!-- #Customer Review -->

<!-- Content
        ============================================ -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row gutter-40 col-mb-80">
                <!-- Post Content
                        ============================================ -->
                <div class="postcontent col-lg-12">

                    <div class="single-post mb-0">

                        <!-- Single Post
                                ============================================ -->
                        <div class="entry clearfix">
                            <!-- Entry Content
                                    ============================================ -->
                            <div class="col-lg-12 pt-3 mb-3">
                                <div class="col-lg-11 offset-1 row">
                                    <ol class="list-group list-group-numbered">
                                        <li class="d-flex justify-content-between align-items-start mb-3">
                                            <span class="ms-2 me-auto" style="font-size: 20px;">
                                                {{ 'GLC.detail1' | translate }}
                                            </span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-start mb-3">
                                            <span class="ms-2 me-auto" style="font-size: 20px;">
                                                {{ 'GLC.detail2' | translate }}
                                            </span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-start mb-3">
                                            <span class="ms-2 me-auto" style="font-size: 20px;">
                                                {{ 'GLC.detail3' | translate }}
                                            </span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-start mb-3">
                                            <span class="ms-2 me-auto" style="font-size: 20px;">
                                                {{ 'GLC.detail4' | translate }}
                                            </span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-start mb-3">
                                            <span class="ms-2 me-auto" style="font-size: 20px;">
                                                {{ 'GLC.detail5' | translate }}
                                            </span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-start mb-3">
                                            <span class="ms-2 me-auto" style="font-size: 20px;">
                                                {{ 'GLC.detail6' | translate }}
                                            </span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-start mb-3">
                                            <span class="ms-2 me-auto" style="font-size: 20px;">
                                                {{ 'GLC.detail7' | translate }}
                                            </span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-start mb-3">
                                            <span class="ms-2 me-auto" style="font-size: 20px;">
                                                {{ 'GLC.detail8' | translate }}
                                            </span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-start mb-3">
                                            <span class="ms-2 me-auto" style="font-size: 20px;">
                                                {{ 'GLC.detail9' | translate }}
                                            </span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            
                            <!-- com/////////////// -->

                            <div class="container pt-5 img-responsive">
                                <ng-image-slider #nav [images]="CommunityHub" [infinite]="false" [autoSlide]="1"
                                    [animationSpeed]="0.5" [imageSize]="{width: '50%', height: 320}" slideImage="1">
                                </ng-image-slider>
                            </div>

                            <!-- com/////////////// -->

                            <!-- mobile/////////////// -->

                            <div class="container pt-5 img-mobile">
                                <ng-image-slider #nav [images]="CommunityHub" [infinite]="false" [autoSlide]="1"
                                    [animationSpeed]="0.5" [imageSize]="{width: 270, height: 200}" slideImage="1">
                                </ng-image-slider>
                            </div>

                            <!-- mobile/////////////// -->

                            <br>
                            <br>
                            <p class="h5" style="color:#8D7249; font-size: 15px;">**มีให้บริการ
                                แต่ไม่เป็นส่วนหนึ่งของนิติบุคคล</p>
                        </div><!-- .entry end -->
                    </div>
                </div><!-- .postcontent end -->
            </div>
        </div>
    </div>
</section>
<!-- #content end -->




<!-- Customer Review
                ============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1 style="color:#8D7249;">Grace International School</h1>
    </div>

</section><!-- #Customer Review -->

<!-- Content
                  ============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row gutter-40 col-mb-80">
                <!-- Post Content
        ============================================ -->
                <div class="postcontent col-lg-12">

                    <div class="single-post mb-0">

                        <!-- Single Post
                ============================================ -->
                        <div class="entry clearfix">
                            <!-- Entry Content
                    ============================================ -->
                            <div class="entry-content mt-0">
                                <div class="" style="text-align: justify;">
                                    <span style="font-size: 20px;">
                                        {{ 'Graceinternationalschool.detail1' | translate }}
                                    </span>
                                </div>

                                <div class="pt-3 mb-3" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        {{ 'Graceinternationalschool.detail2' | translate }}
                                    </span>
                                </div>

                                <div class="" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        {{ 'Graceinternationalschool.detail3' | translate }}
                                    </span>
                                </div>

                                <div class="" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        {{ 'Graceinternationalschool.detail4' | translate }}
                                    </span>
                                </div>

                                <div class="" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        {{ 'Graceinternationalschool.detail5' | translate }}
                                    </span>
                                </div>

                                <div class="mb-3" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        {{ 'Graceinternationalschool.detail6' | translate }}
                                    </span>
                                </div>

                                <!-- com/////////// -->

                                <div class="container pt-5 img-responsive">
                                    <div class="heading-block border-bottom-0">
                                        <h3 style="color:#8D7249;">{{ 'covid.image' | translate }}</h3>
                                    </div>
                                    <ng-image-slider #nav [images]="giSchool" [infinite]="false" [autoSlide]="1"
                                        [animationSpeed]="0.5" [imageSize]="{width: '50%', height: 400}" slideImage="1">
                                    </ng-image-slider>
                                </div>

                                <!-- com/////////// -->
                                <!-- mobile///////////// -->

                                <div class="container pt-5 img-mobile">
                                    <div class="heading-block border-bottom-0">
                                        <h3 style="color:#8D7249;">{{ 'covid.image' | translate }}</h3>
                                    </div>
                                    <ng-image-slider #nav [images]="giSchool" [infinite]="false" [autoSlide]="1"
                                        [animationSpeed]="0.5" [imageSize]="{width: 270, height: 200}"
                                        slideImage="1">
                                    </ng-image-slider>
                                </div>

                                <!-- mobile///////////// -->

                                <br>
                            </div>
                        </div><!-- .entry end -->
                    </div>
                </div><!-- .postcontent end -->
            </div>
        </div>
    </div>
</section>
<!-- #content end -->

<!-- Page Title
		============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1 style="color:#8D7249;">Netatech Cradle Community Hub</h1>
    </div>

</section><!-- #page-title end -->

<!-- Content
============================================ -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row gutter-40 col-mb-80">
                <!-- Post Content
                ============================================ -->
                <div class="postcontent col-lg-12">

                    <div class="single-post">

                        <!-- Single Post
                        ============================================ -->
                        <div class="entry clearfix">
                            <!-- Entry Image
                            ============================================ -->
                            <!-- <div class="row">
                                <div class="col-lg-12">
                                    <div class="" style="text-align: justify;">
                                        <p class="h3" style="font-size: 24px;  color:#8D7249;">
                                            JJ with Netatech
                                        </p>
                                    </div>

                                    <div class="pt-2 mb-5" style="text-align: justify;">
                                        <span style="font-size: 20px; ;">
                                            <a href="https://www.netatech.com.sg/"  target="_blank" rel="noreferrer">https://www.netatech.com.sg/</a>
                                        </span>
                                    </div>

                                    <div class="container">
                                        <div class="heading-block border-bottom-0">
                                            <h3 style="color:#8D7249;">Gallery</h3>
                                        </div>
                                        <ng-image-slider #nav [images]="farmAndFood" [infinite]="false" [autoSlide]="1"
                                            [animationSpeed]="0.5" [imageSize]="{width: '50%', height: 400}" slideImage="1">
                                        </ng-image-slider>
                                    </div>
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="">
                                        <p class="h3" style="font-size: 24px;  color:#8D7249;">
                                            {{ 'NetatechCradle.detail1' | translate }}
                                        </p>
                                    </div>

                                    <!-- <div class="" style="text-align: justify;">
                                        <span style="font-size: 20px; ;">
                                            <a href="https://www.netatech.com.sg/home/smart-farms"  target="_blank" rel="noreferrer" >https://www.netatech.com.sg/home/smart-farms</a>
                                        </span>
                                    </div> -->

                                    <div class="pt-2 mb-5" style="text-align: justify;">
                                        <p style="font-size: 20px;">
                                            {{ 'NetatechCradle.detail2' | translate }}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="" style="text-align: justify;">
                                        <p class="h3" style="font-size: 24px;  color:#8D7249;">
                                            {{ 'FramAndFood.detail1' | translate }}
                                        </p>
                                    </div>

                                    <!-- <div class="" style="text-align: justify;">
                                        <span style="font-size: 20px; ;">
                                            <a href="https://www.netatech.com.sg/home/smart-farms"  target="_blank" rel="noreferrer" >https://www.netatech.com.sg/home/smart-farms</a>
                                        </span>
                                    </div> -->

                                    <div class="pt-2 mb-5" style="text-align: justify;">
                                        <span style="font-size: 20px; ;">
                                            {{ 'FramAndFood.detail2' | translate }}
                                        </span>
                                        <br>
                                        <br>
                                        <a href="https://www.netatech.com.sg/" target="_blank" rel="noreferrer">
                                            <button type="button" class="btn btn-outline-warning">Go to
                                                Netatech</button>
                                        </a>
                                    </div>

                                    <!-- <a
                                        href="https://www.netatech.com.sg/"
                                        class="button button-rounded button-large button-dark">
                                        {{ 'leaun.more' | translate }}
                                            Netatech
                                    </a>-->

                                    <!-- com////////////// -->

                                    <div class="container img-responsive">
                                        <div class="heading-block border-bottom-0">
                                            <p class="h3" style="color:#8D7249;">{{ 'covid.image' | translate }}</p>
                                        </div>
                                        <ng-image-slider #nav [images]="netaTechCommunity" [infinite]="false"
                                            [autoSlide]="1" [animationSpeed]="0.5"
                                            [imageSize]="{width: '50%', height: 400}" slideImage="1">
                                        </ng-image-slider>
                                    </div>

                                    <!-- com////////////// -->
                                    <!-- mobile/////////// -->

                                    <div class="container img-mobile">
                                        <div class="heading-block border-bottom-0">
                                            <p class="h3" style="color:#8D7249;">{{ 'covid.image' | translate }}</p>
                                        </div>
                                        <ng-image-slider #nav [images]="netaTechCommunity" [infinite]="false"
                                            [autoSlide]="1" [animationSpeed]="0.5"
                                            [imageSize]="{width: 270, height: 200}" slideImage="1">
                                        </ng-image-slider>
                                    </div>

                                    <!-- mobile/////////// -->

                                </div>
                            </div>

                        </div><!-- .entry end -->
                    </div>
                </div><!-- .postcontent end -->
            </div>
        </div>
    </div>
</section>
<!-- #content end -->

<!-- <div class="content-wrap">
    <div class="container clearfix">

        <div class="row gutter-50 align-items-center">
            <div class="col-lg-6">
                <div class="col-lg-12">
                    <div class="feature-box fbox-effect flex-column">
                        <div class="fbox-content">
                            <h1 style="font-size: 65px; margin-bottom: 50px;color: #d39e0a;">Community Hub </h1>
                            <hr style="margin-bottom: 5%; color:#d39e0a ;">
                            <p style="font-size: 36px; color: #8d7249;">
                                The Clubhouse will feature multi-purpose function room designed for meetings, events,
                                celebrations and community activities. Together with a swimming pool that has a lap pool
                                section and a fitness gym, the clubhouse strives to promote healthy living and family
                                joy in the community.
                            </p>
                        </div>
                    </div>
                </div>
                <hr style="margin-top: 100px; color:#ffff ;">
            </div>
            <div class="col-lg-6">
                <hr style="margin-top: 60px; color:#d39e0a ;">
                <div class="col-lg-12 pt-3">
                    <div class="col-lg-12 row">
                        <div class="col-lg-1">
                            <i class="icon-line-check" style="font-size: 24px; color: #8d7249;"></i>
                        </div>
                        <div class="col-lg-11">
                            <span style="font-size: 20px; color: #8d7249;">
                                สระว่ายน้ำ ขนาด 25 เมตร พร้อมสระเด็กและจากุซซี่
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 row pt-3">
                        <div class="col-lg-1">
                            <i class="icon-line-check" style="font-size: 24px; color: #8d7249;"></i>
                        </div>
                        <div class="col-lg-11">
                            <span style="font-size: 20px; color: #8d7249;">
                                สนาม Basketball ( Half Court )
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 row pt-3">
                        <div class="col-lg-1">
                            <i class="icon-line-check" style="font-size: 24px; color: #8d7249;"></i>
                        </div>
                        <div class="col-lg-11">
                            <span style="font-size: 20px; color: #8d7249;">
                                ฟิตเนส  และห้องโยคะ
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 row pt-3">
                        <div class="col-lg-1">
                            <i class="icon-line-check" style="font-size: 24px; color: #8d7249;"></i>
                        </div>
                        <div class="col-lg-11">
                            <span style="font-size: 20px; color: #8d7249;">
                                ห้องเอนกประสงค์ สำหรับจัดกิจกรรม
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 row pt-3">
                        <div class="col-lg-1">
                            <i class="icon-line-check" style="font-size: 24px; color: #8d7249;"></i>
                        </div>
                        <div class="col-lg-11">
                            <span style="font-size: 20px; color: #8d7249;">
                                ลาน BBQ
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 row pt-3">
                        <div class="col-lg-1">
                            <i class="icon-line-check" style="font-size: 24px; color: #8d7249;"></i>
                        </div>
                        <div class="col-lg-11">
                            <span style="font-size: 20px; color: #8d7249;">
                                คาเฟ่ และ ร้านอาหาร 
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 row pt-3">
                        <div class="col-lg-1">
                            <i class="icon-line-check" style="font-size: 24px; color: #8d7249;"></i>
                        </div>
                        <div class="col-lg-11">
                            <span style="font-size: 20px; color: #8d7249;">
                                Co-Working Space 
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 row pt-3">
                        <div class="col-lg-1">
                            <i class="icon-line-check" style="font-size: 24px; color: #8d7249;"></i>
                        </div>
                        <div class="col-lg-11">
                            <span style="font-size: 20px; color: #8d7249;">
                                พื้นที่ให้เช่า และร้านค้า
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 row pt-3">
                        <div class="col-lg-1">
                            <i class="icon-line-check" style="font-size: 24px; color: #8d7249;"></i>
                        </div>
                        <div class="col-lg-11">
                            <span style="font-size: 20px; color: #8d7249;">
                                Neta Tech และ Farming ศูนย์นวัตกรรมฟาร์มปลอดสารพิษเพื่อสุขภาพ
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="margin-top: 50px; color:#d39e0a ;">
        </div>
        <br>
        <div class="clear"></div>
        <div class="content-wrap">        		
					<div class="heading-block border-bottom-0">
						<h3>Gallery</h3>				
					</div>
					<ng-image-slider #nav 
					[images]="imageCommunityHub" 
					[infinite]="false" 
					[autoSlide]="1"
					[animationSpeed]="0.5"
					[imageSize]="{width: '50%', height: 400}" 
					slideImage="1"></ng-image-slider>
        </div>
        <div class="clear"></div>
        <hr style="margin-top: 50px; color:#d39e0a ;">

        <div class="row gutter-50 align-items-center">
                <div class="col-lg-12">
                    <div class="feature-box fbox-effect flex-column">
                        <div class="fbox-content">
                            <h1 style="font-size: 50px; margin-bottom: 50px;color: #d39e0a;">Neta Tech และ Farming </h1>
                            <hr style="margin-bottom: 5%; color:#d39e0a ;">
                            <p style="font-size: 36px; color: #8d7249;">
                                The Clubhouse will feature multi-purpose function room designed for meetings, events,
                                celebrations and community activities. Together with a swimming pool that has a lap pool
                                section and a fitness gym, the clubhouse strives to promote healthy living and family
                                joy in the community.
                            </p>
                        </div>
                    </div>
                </div>
                <hr style="margin-top: 60px; color:#d39e0a ;">
                <div class="col-lg-12 pt-3">
					<ng-image-slider #nav 
					[images]="imageFram" 
					[infinite]="false" 
					[autoSlide]="1"
					[animationSpeed]="0.5"
					[imageSize]="{width: '50%', height: 400}" 
					slideImage="1"></ng-image-slider>
                </div>
            <hr style="margin-top: 50px; color:#d39e0a ;">
        </div>
    </div>
</div> -->