<div class="responsive-pc">
  <!-- Start Type & Plan -->
  <div class="content-wrap" style="background-color: #fffdf8; padding-top: 0;">
    <hr>
    <div class="container clearfix">
      <!-- S type A -->
      <div class="row gutter-50 ">
        <div class="col-lg-6">
          <img
            data-src="./assets/images/home/type-plan/pc/type-A.png"
            width="100%" height="525" alt="Placeholder Image" class="rounded lazyload" loading="lazy">
        </div>
        <div class="col-lg-6">
          <div class="feature-box fbox-effect flex-column">
            <div class="fbox-content">
              <div class="animate" data-animate="fadeInRight" data-delay="200">
                <p class="h3 text-pad">
                  Type A
                </p>
                <p class="h1 text-pad">
                  FAMILY BLISS
                </p>
              </div>
              <div class="feature-box fbox-effect flex-column mb-5" data-animate="fadeInRight" data-delay="600">
                <div class="fbox-content">
                  <div class="container topmargin-lg clearfix">

                    <div class="container topmargin-lg clearfix">
                      <ng-image-slider data-animate="fadeInUp" data-delay="400" #nav [images]="imageTypeA"
                        [infinite]="false" [autoSlide]="1" [animationSpeed]="0.5" [imagePopup]="false"
                        [imageSize]="{width: 250, height: 170}" slideImage="1">
                      </ng-image-slider>
                    </div>

                  </div>
                </div>
              </div>

              <p style="font-size: 20px;" data-animate="fadeInRight" data-delay="900">
                {{ 'TypeA.detailPC' | translate }}
              </p>
            </div>
            <!-- ----pad------------------------- -->
            <div class="row  responsive-btn-pc" data-animate="fadeInRight" data-delay="1200">
              <div class="col-lg-2 offset-lg-6">
                <div class="col-md-3 mt-5 text-center ">
                  <a href="/view360/graceland_type_a" class="button button-rounded button-large button-dark">
                    360°
                  </a>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="col-md-3 mt-5 text-center">
                  <a href="/family-bliss" class="button button-rounded button-large button-dark">
                    {{ 'leaun.more' | translate }}
                  </a>
                </div>
              </div>
            </div>
            <!-- ----------pc----------------------------- -->
            <div class="row " data-animate="fadeInRight" data-delay="1200">
              <div class="col-lg-2 offset-lg-6">
                <div class="col-md-3 mt-5 text-center ">
                  <a href="/view360/graceland_type_a" class="button button-rounded button-large button-dark">
                    360°
                  </a>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="col-md-3 mt-5 text-center">
                  <a href="/family-bliss" class="button button-rounded button-large button-dark">
                    {{ 'leaun.more' | translate }}
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- E type A -->
      <hr>
      <div class="clear"></div>

      <!-- S type B -->
      <div class="row gutter-50 ">
        <div class="col-lg-6 order-lg-last">
          <img
            data-src="./assets/images/home/type-plan/pc/1type-B.png"
            width="100%" height="525" alt="Placeholder Image" class="rounded lazyload" loading="lazy">
        </div>
        <div class="col-lg-6">
          <div class="feature-box fbox-effect flex-column mb-5">
            <div class="fbox-content">
              <div class="animate" data-animate="fadeInLeft" data-delay="200">
                <p class="h3 text-pad">
                  Type B
                </p>
                <p class="h1 text-pad">
                  FAMILY HARMONY
                </p>
              </div>
              <div class="feature-box fbox-effect flex-column mb-5" data-animate="fadeInLeft" data-delay="600">
                <div class="fbox-content">
                  <div class="container topmargin-lg clearfix">

                    <ng-image-slider data-animate="fadeInUp" data-delay="400" #nav [images]="imageTypeB"
                      [infinite]="false" [autoSlide]="1" [animationSpeed]="0.5" [imagePopup]="false"
                      [imageSize]="{width: 250, height: 170}" slideImage="1">
                    </ng-image-slider>

                  </div>
                </div>
              </div>

              <p class="typeDetail" data-animate="fadeInLeft" data-delay="900">
                {{ 'TypeB.detailPC' | translate }}
              </p>
            </div>
            <!-- ----pad------------------------- -->
            <div class="row  responsive-btn-pc" data-animate="fadeInLeft" data-delay="1200">
              <div class="col-lg-2">
                <div class="col-md-3 mt-5 text-center">
                  <a href="/family-harmony" class="button button-rounded button-large button-dark">
                    {{ 'leaun.more' | translate }}
                  </a>
                </div>
              </div>
              <div class="col-lg-3 offset-lg-1">
                <div class="col-md-3 mt-5 text-center ">
                  <a href="/view360/graceland_type_b" class="button button-rounded button-large button-dark">
                    360°
                  </a>
                </div>
              </div>

            </div>
            <!-- ----------PC----------------------------- -->
            <div class="row " data-animate="fadeInLeft" data-delay="1200">
              <div class="col-lg-3">
                <div class="col-md-3 mt-5 text-center ">
                  <a href="/family-harmony" class="button button-rounded button-large button-dark">
                    {{ 'leaun.more' | translate }}
                  </a>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="col-md-3 mt-5 text-center">
                  <a href="/view360/graceland_type_b" class="button button-rounded button-large button-dark">
                    360°
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- E type B -->
      <hr>
      <div class="clear"></div>

      <!-- S type C -->
      <div class="row gutter-50 ">
        <div class="col-lg-6">
          <img
            data-src="./assets/images/home/type-plan/pc/type-C.png"
            width="100%" height="525" alt="Placeholder Image" class="rounded lazyload" loading="lazy">
        </div>
        <div class="col-lg-6">
          <div class="feature-box fbox-effect flex-column mb-5">
            <div class="fbox-content">
              <div class="animate" data-animate="fadeInRight" data-delay="200">
                <p class="h3 text-pad">
                  Type C
                </p>
                <p class="h1 text-pad">
                  FAMILY DELIGHT
                </p>
              </div>
              <div class="feature-box fbox-effect flex-column mb-5" data-animate="fadeInRight" data-delay="600">
                <div class="fbox-content">
                  <div class="container  topmargin-lg clearfix">
                    <ng-image-slider data-animate="fadeInUp" data-delay="400" #nav [images]="imageTypeC"
                      [infinite]="false" [autoSlide]="1" [animationSpeed]="0.5" [imagePopup]="false"
                      [imageSize]="{width: 250, height: 170}" slideImage="1">
                    </ng-image-slider>

                  </div>
                </div>
              </div>

              <p class="typeDetail" data-animate="fadeInRight" data-delay="900">
                {{ 'TypeC.detailPC' | translate }}
              </p>
            </div>
            <!-- ----pad------------------------- -->
            <div class="row  responsive-btn-pc" data-animate="fadeInRight" data-delay="1200">
              <div class="col-lg-2 offset-lg-6">
                <div class="col-md-3 mt-5 text-center ">
                  <a href="/view360/graceland_type_c" class="button button-rounded button-large button-dark">
                    360°
                  </a>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="col-md-3 mt-5 text-center">
                  <a href="/family-delight" class="button button-rounded button-large button-dark">
                    {{ 'leaun.more' | translate }}
                  </a>
                </div>
              </div>
            </div>
            <!-- ----------PC---------------------------- -->
            <div class="row " data-animate="fadeInRight" data-delay="1200">
              <div class="col-lg-2 offset-lg-7">
                <div class="col-md-3 mt-5 text-center ">
                  <a href="/view360/graceland_type_c" class="button button-rounded button-large button-dark">
                    360°
                  </a>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="col-md-3 mt-5 text-center">
                  <a href="/family-delight" class="button button-rounded button-large button-dark">
                    {{ 'leaun.more' | translate }}
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- E type C -->
      <hr>
      <div class="clear"></div>

      <!-- S type D -->
      <!-- s pc -->
      <div class="responsive-pc-typeD">
        <!-- S type D -->
        <div class="row ">
          <div class="animate" data-animate="fadeInUp" data-delay="200">
            <p class="h3 responsive-text text-center" style="margin-top:35px;">
              Type D
            </p>
            <p class="h1 responsive-text text-center">
              FAMILY COMFORT
            </p>
          </div>
          <div class="col-lg-6  order-lg-last">
            <img
              data-src="./assets/images/home/type-plan/pc/1type-D1.png"
              alt="Placeholder Image" class="rounded lazyload" loading="lazy">
          </div>
          <div class="col-lg-6">
            <div class="feature-box fbox-effect flex-column mb-5">
              <div class="fbox-content">
                <div class="feature-box fbox-effect flex-column mb-5" data-animate="fadeInLeft" data-delay="600">
                  <div class="fbox-content">
                    <div class="container topmargin-lg clearfix">

                      <ng-image-slider data-animate="fadeInUp" data-delay="400" #nav [images]="imageTypeD"
                        [infinite]="false" [autoSlide]="1" [animationSpeed]="0.5" [imagePopup]="false"
                        [imageSize]="{width: 250, height: 170}" slideImage="1">
                      </ng-image-slider>

                    </div>
                  </div>
                </div>

                <p style="font-size: 20px;" data-animate="fadeInLeft" data-delay="900">
                  {{ 'TypeD.detailPC' | translate }}
                </p>
              </div>
              <!-- ----PC------------------------- -->
              <div class="row " data-animate="fadeInLeft" data-delay="1000">
                <div class="col-lg-2">
                  <div class="col-md-3 mt-5 text-center">
                    <a href="/family-comfort" class="button button-rounded button-large button-dark">
                      {{ 'leaun.more' | translate }}
                    </a>
                  </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                  <div class="col-md-3 mt-5 text-center ">
                    <a href="/view360/graceland_type_d" class="button button-rounded button-large button-dark">
                      360°
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- E type D -->
        <div class="clear"></div>
      </div>
      <!-- e pc -->
      <!-- ------------------------------------------------------------------ -->
      <!-- s pad -->
      <div class="responsive-pad">
        <div class="row justify-content-center gutter-50">
          <div class="animate" data-animate="fadeInRight" data-delay="600">
            <p class="h3 text-center" style="margin:35px 0 0 0 ; font-size: 20px;">
              Type D
            </p>
            <p class="h1 text-center" style="font-size: 50px;">
              FAMILY COMFORT
            </p>
          </div>
        </div>
        <div class="row ">
          <div class="col-lg-12 ">
            <img
              data-src="./assets/images/home/type-plan/mobile/1type-d-f.png"
              alt="Placeholder Image" class="rounded lazyload img-responsive-d" loading="lazy">
          </div>
          <div class="col-lg-12">
            <div class="feature-box fbox-effect flex-column mb-5">
              <div class="fbox-content">
                <div class="feature-box fbox-effect flex-column mb-5">
                  <div class="fbox-content">
                    <div class="container topmargin-lg  clearfix">
                      <ng-image-slider data-animate="fadeInUp" data-delay="400" #nav [images]="imageTypeD"
                        [infinite]="false" [autoSlide]="1" [animationSpeed]="0.5" [imagePopup]="false"
                        [imageSize]="{width: 250, height: 170}" slideImage="1">
                      </ng-image-slider>
                    </div>
                  </div>
                </div>

                <p style="font-size: 20px;">
                  {{ 'TypeD.detailPC' | translate }}
                </p>
              </div>
              <!-- ----------Pad-M----------------------------- -->
              <div class="row  justify-content-center">
                <div class="col-lg-4 mt-5">
                  <a href="/view360/graceland_type_d" class="button button-rounded button-large button-dark">
                    360°
                  </a>
                  <a href="/family-comfort" class="button button-rounded button-large button-dark">
                    {{ 'leaun.more' | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="clear"></div>
      </div>
      <!-- d pad -->
      <!-- E type D -->
    </div>
  </div>
  <!-- END Type & Plan -->
</div>

<div class="responsive-mobile"  style="white-space: pre-line;">
  <!-- Start Type & Plan -->
  <div class="content-wrap" style="background-color: #fffdf8; padding-top: 0;">
    <div class="container clearfix">
      <!-- S type A -->
      <div class="row ">
        <p class="h3 responsive-text " style="margin-top:35px;">
          Type A
        </p>
        <p class="h1 responsive-text ">
          FAMILY BLISS
        </p>
        <div class="col-lg-6">
          <img
            data-src="./assets/images/home/type-plan/mobile/type-A1.png"
            width="100%" height="525" alt="Placeholder Image" loading="lazy" class="rounded lazyload mt-3">
        </div>
        <div class="col-lg-6">
          <div class="feature-box fbox-effect flex-column mb-5">
            <div class="fbox-content">
              <!-- <p class="h3 responsive-text">
                                        Type A
                                    </p>
                                    <p class="h1 responsive-text" >
                                        {{ 'TypeA.title' | translate }}
                                    </p> -->
              <div class="feature-box fbox-effect flex-column mb-5">
                <div class="fbox-content">
                  <div class="container topmargin-lg clearfix">
                    <ng-image-slider data-animate="fadeInUp" data-delay="400" #nav [images]="imageTypeA"
                      [infinite]="false" [autoSlide]="1" [animationSpeed]="0.5" [imagePopup]="false"
                      [imageSize]="{width: '100%', height: 170}" slideImage="1">
                    </ng-image-slider>
                  </div>
                </div>
              </div>

              <p class="text-center">
                {{ 'TypeA.detailM' | translate }}
              </p>
            </div>
            <div class="row ">
              <div class="col-lg-3" style="display: flex;
                                                            flex-wrap: nowrap;
                                                            justify-content: center;">
                <div class="col-md-3 mt-3 ">
                  <table>
                    <tr>
                      <td style="width: 20%;"></td>
                      <td class="text-center">
                        <a href="/view360/graceland_type_a" class="button button-rounded button-large button-dark">
                          360°
                        </a>
                      </td>
                      <td class="text-center">
                        <a href="/family-bliss" class="button button-rounded button-large button-dark">
                          {{ 'leaun.more' | translate }}
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- E type A -->
      <hr>
      <div class="clear"></div>

      <!-- S type B -->
      <div class="row ">
        <p class="h3 responsive-text text-align-r" style="margin-top:35px;">
          Type B
        </p>
        <p class="h1 responsive-text text-align-r">
          FAMILY HARMONY
        </p>
        <div class="col-lg-6 order-lg-last mt-5">
          <img
            data-src="./assets/images/home/type-plan/mobile/1type-B1.png"
            width="100%" height="525" loading="lazy" alt="Placeholder Image" class="rounded lazyload">
        </div>
        <div class="col-lg-6">
          <div class="feature-box fbox-effect flex-column mb-5">
            <div class="fbox-content">
              <div class="feature-box fbox-effect flex-column mb-5">
                <div class="fbox-content">
                  <div class="container topmargin-lg clearfix">

                    <ng-image-slider data-animate="fadeInUp" data-delay="400" #nav [images]="imageTypeB"
                      [infinite]="false" [autoSlide]="1" [animationSpeed]="0.5" [imagePopup]="false"
                      [imageSize]="{width: '100%', height: 170}" slideImage="1">
                    </ng-image-slider>
                  </div>
                </div>
              </div>

              <p class="text-center">
                {{ 'TypeB.detailM' | translate }}
              </p>
            </div>
            <div class="row ">
              <div class="col-lg-3" style="display: flex;
                                                                flex-wrap: nowrap;
                                                                justify-content: center;">
                <div class="col-md-3 mt-3 ">
                  <table>
                    <tr>
                      <td style="width: 20%;"></td>
                      <td class="text-center">
                        <a href="/view360/graceland_type_b" class="button button-rounded button-large button-dark">
                          360°
                        </a>
                      </td>
                      <td class="text-center">
                        <a href="/family-harmony" class="button button-rounded button-large button-dark">
                          {{ 'leaun.more' | translate }}
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- E type B -->
      <hr>
      <div class="clear"></div>

      <!-- S type C -->
      <div class="row ">
        <p class="h3 responsive-text" style="margin:35px 0 0 0 ;">
          Type C
        </p>
        <p class="h1 responsive-text">
          FAMILY DELIGHT
          <br>
        </p>
        <div class="col-lg-6 mt-5">
          <img
            data-src="./assets/images/home/type-plan/mobile/type-C1.png"
            width="100%" height="525" alt="Placeholder Image" loading="lazy" class="rounded lazyload">
        </div>
        <div class="col-lg-6">
          <div class="feature-box fbox-effect flex-column mb-5">
            <div class="fbox-content">
              <div class="feature-box fbox-effect flex-column mb-5">
                <div class="fbox-content">
                  <div class="container topmargin-lg clearfix">

                    <ng-image-slider data-animate="fadeInUp" data-delay="400" #nav [images]="imageTypeC"
                      [infinite]="false" [autoSlide]="1" [animationSpeed]="0.5" [imagePopup]="false"
                      [imageSize]="{width: '100%', height: 170}" slideImage="1">
                    </ng-image-slider>
                  </div>
                </div>
              </div>

              <p class="text-center">
                {{ 'TypeC.detailM' | translate }}
              </p>
            </div>
            <div class="row ">
              <div class="col-lg-3" style="display: flex;
                                                                flex-wrap: nowrap;
                                                                justify-content: center;">
                <div class="col-md-3 mt-3 ">
                  <table>
                    <tr>
                      <td style="width: 20%;"></td>
                      <td class="text-center">
                        <a href="/view360/graceland_type_c" class="button button-rounded button-large button-dark">
                          360°
                        </a>
                      </td>
                      <td class="text-center">
                        <a href="/family-delight" class="button button-rounded button-large button-dark">
                          {{ 'leaun.more' | translate }}
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- E type C -->
      <hr>
      <div class="clear"></div>

      <!-- S type D -->
      <div class="row ">
        <p class="h3 responsive-text text-align-r" style="margin-top:35px;">
          Type D
        </p>
        <p class="h1 responsive-text text-align-r">
          FAMILY COMFORT
        </p>
        <div class="col-lg-6  order-lg-last mt-5">
          <img
            data-src="./assets/images/home/type-plan/mobile/1type-d-f.png"
            alt="Placeholder Image" class="rounded lazyload" loading="lazy">
        </div>
        <div class="col-lg-6">
          <div class="feature-box fbox-effect flex-column mb-5">
            <div class="fbox-content">
              <div class="feature-box fbox-effect flex-column mb-5">
                <div class="fbox-content">
                  <div class="container topmargin-lg clearfix">

                    <ng-image-slider data-animate="fadeInUp" data-delay="400" #nav [images]="imageTypeD"
                      [infinite]="false" [autoSlide]="1" [animationSpeed]="0.5" [imagePopup]="false"
                      [imageSize]="{width: '100%', height: 170}" slideImage="1">
                    </ng-image-slider>

                  </div>
                </div>
              </div>

              <p class="text-center">
                {{ 'TypeD.detailM' | translate }}
              </p>
            </div>
            <!-- ----------Pad-M----------------------------- -->
            <div class="row">
              <div class="col-lg-4 " style="display: flex;
                                                                flex-wrap: nowrap;
                                                                justify-content: center;">
                <div class="col-md-3 text-center mt-5">
                  <table>
                    <tr>
                      <td style="width: 20%;"></td>
                      <td class="text-center">
                        <a href="/view360/graceland_type_d" class="button button-rounded button-large button-dark">
                          360°
                        </a>
                      </td>
                      <td class="text-center">
                        <a href="/family-comfort" class="button button-rounded button-large button-dark">
                          {{ 'leaun.more' | translate }}
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- E type D -->
      <div class="clear"></div>
    </div>
  </div>
  <!-- END Type & Plan -->
</div>
