<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="fslider" data-arrows="false" data-pagi="false" data-animation="fade" data-hover="false">
                <div class="flexslider">
                </div>
            </div>

            <div class="row justify-content-center mb-5">
                <div class="col-xl-6 col-lg-8 text-center">
                    <h3 class="h1 fw-bold mb-3">FAMILY COMFORT</h3>
                    <p>TYPE D</p>
                </div>
            </div>

            <div class="clear"></div>

            <!-- Grid row -->
            <div data-animate="fadeInUp" data-delay="200" class="card-columns" data-lightbox="gallery">
                <a href="../../../../../assets/images/gallery/d-detail/DSC01945-Edit.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-detail/DSC01945-Edit.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-detail/47.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-detail/47.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-detail/DSC01839.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-detail/DSC01839.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-detail/DSC01869.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-detail/DSC01869.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-detail/26.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-detail/26.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-detail/DSC01874-Edit.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-detail/DSC01874-Edit.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-detail/41.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-detail/41.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-detail/DSC01895-Edit.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-detail/DSC01895-Edit.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-detail/06.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-detail/06.webp"
                        alt="Image">
                </a>

                <a href="../../../../../assets/images/gallery/d-detail/38.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-detail/38.webp"
                        alt="Image">
                </a>

                <a href="../../../../../assets/images/gallery/d-detail/DSC01918.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-detail/DSC01918.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/d-detail/DSC01879-Edit.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/d-detail/DSC01879-Edit.jpg"
                        alt="Image">
                </a>
            </div>
            <!-- Grid row -->
            <div class="container text-center pt-5 mb-5">
                <a data-animate="fadeInUp" data-delay="200" href="../../view360/graceland_type_d">
                    <button type="button" class="button button-xlarge button-border button-circle button-yellow" style=""><i class="icon-street-view" style="margin-right: 5px;"></i>  360° TYPE D</button>
                </a>
                </div>

                <hr style="background-color: #d49f43;">

        </div>
    </div>
</section>
