
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="fslider" data-arrows="false" data-pagi="false" data-animation="fade" data-hover="false">
                <div class="flexslider">
                </div>
            </div>

            <div class="row justify-content-center mb-5">
                <div class="col-xl-6 col-lg-8 text-center">
                    <h3 class="h1 fw-bold mb-3">FAMILY DELIGHT</h3>
                    <p>TYPE C</p>
                </div>
            </div>

            <div class="clear"></div>

            <!-- Grid row -->
            <div data-animate="fadeInUp" data-delay="200" class="card-columns" data-lightbox="gallery">
                <a href="../../../../../assets/images/gallery/c-detail/Graceland_054.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-detail/Graceland_054.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/c-detail/Graceland_044.jpg"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-detail/Graceland_044.jpg"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/c-detail/16.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-detail/16.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/c-detail/01.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-detail/01.webp"
                        alt="Image">
                </a>

                <a href="../../../../../assets/images/gallery/c-detail/10.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-detail/10.webp"
                        alt="Image">
                </a>

                <a href="../../../../../assets/images/gallery/c-detail/02.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-detail/02.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/c-detail/05.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-detail/05.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/c-detail/13.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-detail/13.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/c-detail/03.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-detail/03.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/c-detail/08.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-detail/08.webp"
                        alt="Image">
                </a>
                <a href="../../../../../assets/images/gallery/c-detail/04.webp"
                    data-lightbox="gallery-item" target="_blank" rel="noreferrer">
                    <img class="img-fluid mb-4 h-op-09 op-ts lazyload"
                        data-src="../../../../../assets/images/gallery/c-detail/04.webp"
                        alt="Image">
                </a>
            </div>
            <!-- Grid row -->
            <div class="container text-center pt-5 mb-5">
                <a data-animate="fadeInUp" data-delay="200" href="../../view360/graceland_type_c" target="_blank" rel="noreferrer">
                    <button type="button" class="button button-xlarge button-border button-circle button-yellow" style=""><i class="icon-street-view" style="margin-right: 5px;"></i>  360° TYPE C</button>
                </a>
                </div>

                <hr style="background-color: #d49f43;">


        </div>
    </div>
</section>
