<footer id="footer" class="dark border-0">

    <!-- com////////////////// -->

    <div class="container footer-menu-com  center">
        <div class="footer-widgets-wrap">

            <div class="row mx-auto clearfix">
                <div class="col-lg-4 mb-5 offset-lg-4">
                    <img src="../../../../assets/images/footer/graceland_small_logo-pc.png"
                        width="163px" height="127px" alt="footerlogoImage"
                        style="margin: auto;  width: 45%; height: auto;"
                        class="footer-logo lazyload widget clearfix text-md-start">
                </div>
            </div>
            <div class="row mx-auto clearfix">


                <div class="col-lg-2">


                    <div class="widget clearfix text-md-start" style="font-style: italic;">
                        <h4>{{ 'Menu.about' | translate }}</h4>
                        <ul class="list-unstyled footer-site-links mb-5">
                            <li><a href="view360/graceland" class="text-underline-hover">360°</a></li>
                            <li><a href="about" class="text-underline-hover">{{ 'Menu.about' | translate }}</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-2">

                    <div class="widget clearfix text-md-start" style="font-style: italic;">
                        <h4>{{ 'Menu.typeAndPlan' | translate }}</h4>

                        <ul class="list-unstyled footer-site-links mb-5">
                            <li><a href="family-bliss" class="text-underline-hover">FAMILY BLISS</a></li>
                            <li><a href="family-harmony" class="text-underline-hover">FAMILY HARMONY</a></li>
                            <li><a href="family-delight" class="text-underline-hover">FAMILY DELIGHT</a></li>
                            <li><a href="family-comfort" class="text-underline-hover">FAMILY COMFORT</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-2">

                    <div class="widget clearfix text-md-start" data-loader="button" style="font-style: italic;">
                        <h4>{{ 'Menu.project' | translate }}</h4>

                        <ul class="list-unstyled footer-site-links mb-5">
                            <li><a href="facilities" class="text-underline-hover">{{ 'Menu.facilities' | translate
                                    }}</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-2">

                    <div class="widget clearfix text-md-start" style="font-style: italic;">
                        <h4>{{ 'Menu.menu' | translate }}</h4>

                        <ul class="list-unstyled footer-site-links mb-5">
                            <li><a href="video" class="text-underline-hover">{{ 'Menu.video' | translate }}</a></li>
                            <li><a href="gallery" class="text-underline-hover">{{ 'Menu.gallry' | translate }}</a></li>
                            <li><a href="covid" class="text-underline-hover">{{ 'Menu.covid' | translate }}</a></li>
                            <li><a href="csr" class="text-underline-hover">CSR</a></li>
                            <li><a href="contact" class="text-underline-hover">SALES ENQUIRY</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-2">

                    <div class="widget clearfix text-md-start" style="font-style: italic;">
                        <h4>{{ 'Menu.footer' | translate }}</h4>

                        <div class="">
                            <p class="h5" style="color: #ffff;font-size: 18px;">{{ 'Address.footer' | translate }}</p>
                        </div>

                    </div>

                    <div class="col-lg-12 pt-3">
                        <div class="d-flex">
                            <a aria-label="Facebook"
                                href="https://www.facebook.com/GracelandCNX/"
                                target="_blank" class="social-icon si-dark si-colored si-facebook mb-0" rel="noopener">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a aria-label="Line" href="https://lin.ee/mKB98Am" target="_blank"
                                class="social-icon si-dark si-colored si-line mb-0" rel="noopener">
                                <i class="icon-line"></i>
                                <i class="icon-line"></i>
                            </a>
                            <a aria-label="YouTube" href="https://www.youtube.com/channel/UC34CpTNuGYBoWra3I2L2WoA"
                                target="_blank" class="social-icon si-dark si-colored si-youtube mb-0" rel="noopener">
                                <i class="icon-youtube"></i>
                                <i class="icon-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget clearfix text-md-start" style="font-style: italic;">
                        <h4 style="font-size: 14px;">{{ 'phone.footer' | translate }} </h4>
                        <ul class="list-unstyled footer-site-links">
                            <li><a href="tel:099-503-5999" class="text-underline-hover">099-503-5999</a></li>
                            <li><a href="tel:097-426-1474" class="text-underline-hover">097-426-1474</a></li>
                            <li><a href="tel:06-1163-9282" class="text-underline-hover">061-163-9282</a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <div class="footer-menu-com" id="copyrights">
        <div class="container">

            <div class="row col-mb-12">

                <div class="col-md-6" style="color: #ffff;">
                    Copyrights &copy; All Rights Reserved by Graceland Family Residences. Designed by DGZoo.
                </div>

                <div class="col-md-6" style="text-align: right;color: #ffff;">
                    <i class="icon-headphones"></i> +66-99-5035-999
                </div>

            </div>

        </div>
    </div>


    <!-- end com////////////////// -->

    <!-- mobile////////////////// -->

    <div class="container footer-menu-mobile">
        <div class="footer-widgets-wrap">

            <div class="row mx-auto clearfix">
                <div class="col-lg-3 mb-5">
                    <img src="../../../../assets/images/footer/graceland_small_logo-m.png"
                        width="163px" height="127px" alt="footerlogoImage"
                        style="margin: auto;  width: 45%; height: auto;"
                        class="footer-logo lazyload widget clearfix text-md-start">
                </div>
            </div>
            <div class="container" style="text-align: center;">

                <div class="widget clearfix" style="font-style: italic;">
                    <p style="color: #ffff;font-size: 18px;  letter-spacing: 0px;">{{ 'Menu.about' | translate }}</p>
                    <ul class="list-unstyled footer-site-links mb-5">
                        <li><a href="view360/graceland" class="text-underline-hover">360°</a></li>
                        <li><a href="about" class="text-underline-hover">{{ 'Menu.about' | translate }}</a></li>
                    </ul>
                </div>

                <div class="widget clearfix" data-loader="button" style="font-style: italic;">
                    <p style="color: #ffff;font-size: 18px;  letter-spacing: 0px;">{{ 'Menu.typeAndPlan' | translate }}</p>

                    <ul class="list-unstyled footer-site-links mb-5">
                        <li><a href="family-bliss" class="text-underline-hover">FAMILY BLISS</a></li>
                        <li><a href="family-harmony" class="text-underline-hover">FAMILY HARMONY</a></li>
                        <li><a href="family-delight" class="text-underline-hover">FAMILY DELIGHT</a></li>
                        <li><a href="family-comfort" class="text-underline-hover">FAMILY COMFORT</a></li>
                    </ul>
                </div>

                <div class="widget clearfix" style="font-style: italic;">
                    <p style="color: #ffff;font-size: 18px;  letter-spacing: 0px;">{{ 'Menu.project' | translate }}</p>

                    <ul class="list-unstyled footer-site-links mb-5">
                        <li><a href="facilities" class="text-underline-hover">{{ 'Menu.facilities' | translate }}</a>
                        </li>
                    </ul>
                </div>

                <div class="widget clearfix" style="font-style: italic;">
                    <p style="color: #ffff;font-size: 18px;  letter-spacing: 0px;">{{ 'Menu.menu' | translate }}</p>

                    <ul class="list-unstyled footer-site-links mb-5">
                        <li><a href="video" class="text-underline-hover">{{ 'Menu.video' | translate }}</a></li>
                        <li><a href="gallery" class="text-underline-hover">{{ 'Menu.gallry' | translate }}</a></li>
                        <li><a href="covid" class="text-underline-hover">Covid-19</a></li>
                        <li><a href="csr" class="text-underline-hover">CSR</a></li>
                        <li><a href="contact" class="text-underline-hover">SALES ENQUIRY</a></li>

                    </ul>
                </div>

                <div class="widget clearfix" style="font-style: italic;">
                    <p style="color: #ffff;font-size: 18px;  letter-spacing: 0px;">{{ 'Menu.footer' | translate }}</p>

                    <div class="pt-3">
                        <p class="h5" style="color: #ffff;font-size: 17px;  letter-spacing: 0px;">{{ 'Address.footer' | translate }}</p>
                    </div>

                    <div class="col-lg-12 mb-3 pt-5">
                        <div class="d-flex justify-content-center">
                            <a aria-label="Facebook"
                                href="#"
                                target="_blank" class="social-icon si-dark si-colored si-facebook mb-0" rel="noopener">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a aria-label="Line" href="https://line.me/th/" target="_blank"
                                class="social-icon si-dark si-colored si-line mb-0" rel="noopener">
                                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    style="width: 100%; height: 100%; fill: rgb(255, 255, 255); stroke: none;">
                                    <path
                                        d="M27 14.926C27 10.006 22.065 6 16 6S5 10.005 5 14.926c0 4.413 3.913 8.11 9.2 8.808.358.077.845.236.968.542.112.278.073.713.036.995l-.157.942c-.048.28-.22 1.088.953.593 1.174-.494 6.334-3.73 8.642-6.386C26.236 18.67 27 16.896 27 14.925zm-4.247-.41a.577.577 0 0 1 0 1.153h-1.61v1.03h1.61a.578.578 0 0 1 0 1.155h-2.186a.578.578 0 0 1-.577-.577v-4.37c0-.32.26-.578.577-.578h2.186a.578.578 0 0 1 0 1.153h-1.61v1.033h1.61zm-3.537 2.762a.575.575 0 0 1-.578.577.58.58 0 0 1-.46-.23l-2.24-3.05v2.703a.577.577 0 0 1-1.154 0v-4.37a.577.577 0 0 1 1.038-.347l2.24 3.05v-2.703a.578.578 0 0 1 1.154 0v4.37zm-5.26 0a.577.577 0 0 1-1.154 0v-4.37a.577.577 0 0 1 1.153 0v4.37zm-2.262.577H9.508a.577.577 0 0 1-.576-.577v-4.37a.577.577 0 0 1 1.153 0V16.7h1.61a.577.577 0 0 1 0 1.155z">
                                    </path>
                                </svg>
                                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    style="width: 100%; height: 100%; fill: rgb(255, 255, 255); stroke: none;">
                                    <path
                                        d="M27 14.926C27 10.006 22.065 6 16 6S5 10.005 5 14.926c0 4.413 3.913 8.11 9.2 8.808.358.077.845.236.968.542.112.278.073.713.036.995l-.157.942c-.048.28-.22 1.088.953.593 1.174-.494 6.334-3.73 8.642-6.386C26.236 18.67 27 16.896 27 14.925zm-4.247-.41a.577.577 0 0 1 0 1.153h-1.61v1.03h1.61a.578.578 0 0 1 0 1.155h-2.186a.578.578 0 0 1-.577-.577v-4.37c0-.32.26-.578.577-.578h2.186a.578.578 0 0 1 0 1.153h-1.61v1.033h1.61zm-3.537 2.762a.575.575 0 0 1-.578.577.58.58 0 0 1-.46-.23l-2.24-3.05v2.703a.577.577 0 0 1-1.154 0v-4.37a.577.577 0 0 1 1.038-.347l2.24 3.05v-2.703a.578.578 0 0 1 1.154 0v4.37zm-5.26 0a.577.577 0 0 1-1.154 0v-4.37a.577.577 0 0 1 1.153 0v4.37zm-2.262.577H9.508a.577.577 0 0 1-.576-.577v-4.37a.577.577 0 0 1 1.153 0V16.7h1.61a.577.577 0 0 1 0 1.155z">
                                    </path>
                                </svg>
                            </a>
                            <a aria-label="YouTube" href="https://www.youtube.com/"
                                target="_blank" class="social-icon si-dark si-colored si-youtube mb-0" rel="noopener">
                                <i class="icon-youtube"></i>
                                <i class="icon-youtube"></i>
                            </a>
                        </div>

                    </div>

                    <div class="widget clearfix justify-content-center" style="font-style: italic;">
                        <p style="color: #ffff;font-size: 18px;  letter-spacing: 0px;">{{ 'phone.footer' | translate }} </p>
                        <ul class="list-unstyled footer-site-links">
                            <li><a href="tel:099-503-5999" class="text-underline-hover">099-503-5999</a></li>
                            <li><a href="tel:097-426-1474" class="text-underline-hover">097-426-1474</a></li>
                            <li><a href="tel:06-1163-9282" class="text-underline-hover">061-163-9282</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-1">
                </div>
            </div>

        </div>
    </div>

    <div class="footer-menu-mobile" id="copyrights">
        <div class="container">

            <div class="col-mb-12 text-center">

                <div class="col-md-12 mb-3" style="color: #ffff;">
                    Copyrights &copy; All Rights Reserved by Graceland Family Residences. Designed by DGZoo.
                </div>

                <div class="col-md-12" style="color: #ffff;">
                    <i class="icon-headphones"></i> +66-99-5035-999
                </div>

            </div>

        </div>
    </div>

    <!-- end mobile////////////////// -->




</footer>
