<!-- Master Plan============================================= -->

<section id="page-title">
    <div class="container clearfix">
        <h1>Graceland Project</h1>
    </div>
</section><!-- #Namthong end -->

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row gutter-40 col-mb-80">
                <!-- Post Content ============================================= -->
                <div class="postcontent col-lg-12">

                    <div class="single-post mb-0">

                        <!-- Single Post ============================================= -->
                        <div class="entry clearfix">

                            <!-- Entry Content ============================================= -->
                            <div class="entry-content mt-0">
                                <!-- Entry Image
                                    ============================================= -->
                                <div class="entry-image align-wide-xl my-3">
                                    <a href="#"><img
                                            data-src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fimg-type-plan%2F1.jpg?alt=media&token=e59ec0e8-b1c7-4c6e-9c63-257b441e0047"
                                            alt="Blog Single" class="lazyload"></a>
                                    <figcaption class="text-center mt-2 text-muted text-smaller">Namthong Group
                                    </figcaption>
                                </div><!-- .entry-image end -->
                                <!-- Post Single - Content End -->
                            </div>
                        </div><!-- .entry end -->
                    </div>
                </div><!-- .postcontent end -->
            </div>
        </div>
    </div>
</section>




<!-- Customer Review
                ============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>Grace International School</h1>
    </div>

</section><!-- #Customer Review -->

<!-- Content
                  ============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row gutter-40 col-mb-80">
                <!-- Post Content
                                  ============================================= -->
                <div class="postcontent col-lg-12">

                    <div class="single-post mb-0">

                        <!-- Single Post
                                          ============================================= -->
                        <div class="entry clearfix">
                            <!-- Entry Content
                                              ============================================= -->
                            <div class="entry-content mt-0">
                                <div class="" style="text-align: justify;">
                                    <span style="font-size: 20px;">
                                        Located in Chiang Mai, Thailand, Grace International School (GIS) was created to
                                        provide a high quality Christian education for the children of international
                                        workers located in Southeast Asia. Our primary goal at GIS is to allow these
                                        families to continue to work in their fields without having to compromise the
                                        education of their children.
                                    </span>
                                </div>

                                <div class="pt-3 mb-3" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        In addition to offering a traditional Christian day-school experience, we are
                                        committed to providing additional services to support both students with special
                                        needs and homeschooling families.
                                    </span>
                                </div>

                                <div class="" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        We offer a strong education where biblical truth permeates all subjects and
                                        programs. Our staff seeks to demonstrate how diverse subjects inter-relate so
                                        that GIS students can apply knowledge and skills to all areas of life and live
                                        out their Christian faith.
                                    </span>
                                </div>

                                <div class="" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        Ultimately, we aim to cultivate students of Christ-like character and values who
                                        will transform their world.
                                    </span>
                                </div>

                                <div class="" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        The Non-Thai faculty and staff at GIS have a strong faith in Jesus Christ and
                                        serve at GIS by raising their own support in order to keep tuition costs
                                        affordable. The result is a dedicated team committed to providing students with
                                        an outstanding education from a Christian perspective.
                                    </span>
                                </div>

                                <div class="mb-3" style="text-align: justify;">
                                    <span style="font-size: 20px; ;">
                                        The school is located in a suburban area southwest of Chiang Mai, Thailand.
                                        Chiang Mai, the second largest province in Thailand, is nestled in the scenic
                                        Ping River valley at the foot of Doi Suthep Mountain. With an international
                                        airport, rail and bus lines, and major highway routes, Chiang Mai is
                                        well-connected with the rest of Southeast Asia and the world.
                                    </span>
                                </div>

                                <div class="container pt-5">
                                    <div class="heading-block border-bottom-0">
                                        <h3>Gallery</h3>
                                    </div>
                                    <ng-image-slider #nav [images]="imageObject" [infinite]="false" [autoSlide]="1"
                                        [animationSpeed]="0.5" [imageSize]="{width: '50%', height: 400}" slideImage="1">
                                    </ng-image-slider>
                                </div>

                                <br>
                            </div>
                        </div><!-- .entry end -->
                    </div>
                </div><!-- .postcontent end -->
            </div>
        </div>
    </div>
</section>
<!-- #content end -->

<!-- Page Title
		============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>Netatech</h1>
    </div>

</section><!-- #page-title end -->

<!-- Content
                          ============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row gutter-40 col-mb-80">
                <!-- Post Content
                                          ============================================= -->
                <div class="postcontent col-lg-12">

                    <div class="single-post mb-0">

                        <!-- Single Post
                                                  ============================================= -->
                        <div class="entry clearfix">
                            <!-- Entry Image
                                                      ============================================= -->
                            <!-- <div class="entry-image">
                                        <img data-src="images/blog/full/1.jpg" alt="Blog Single">
                                    </div> -->
                            <!-- .entry-image end -->

                            <!-- Entry Content
                                                      ============================================= -->
                            <div class="" style="text-align: justify;">
                                <label style="font-size: 24px; ;">
                                    JJ NETATECH
                                </label>
                            </div>

                            <div class="pt-2 mb-5" style="text-align: justify;">
                                <span style="font-size: 20px; ;">
                                    <a href="https://www.netatech.com.sg/">https://www.netatech.com.sg/</a>
                                </span>
                            </div>

                            <div class="" style="text-align: justify;">
                                <label style="font-size: 24px; ;">
                                    FARM & FOOD HUB
                                </label>
                            </div>

                            <div class="pt-2 mb-5" style="text-align: justify;">
                                <span style="font-size: 20px; ;">
                                    Detail FARM & FOOD HUB
                                </span>
                            </div>

                            <div class="container pt-5">
                                <div class="heading-block border-bottom-0">
                                    <h3>Gallery</h3>
                                </div>
                                <ng-image-slider #nav [images]="farmAndFood" [infinite]="false" [autoSlide]="1"
                                    [animationSpeed]="0.5" [imageSize]="{width: '50%', height: 400}" slideImage="1">
                                </ng-image-slider>
                            </div>

                        </div><!-- .entry end -->
                    </div>
                </div><!-- .postcontent end -->
            </div>
        </div>
    </div>
</section>
<!-- #content end -->

<!-- Page Title
		============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>graceland lategratedcommunity</h1>
    </div>

</section><!-- #page-title end -->

<!-- Content
                  ============================================= -->
                  <section id="content">
                    <div class="content-wrap">
                        <div class="container clearfix">
                
                            <div class="row gutter-40 col-mb-80">
                                <!-- Post Content
                                                  ============================================= -->
                                <div class="postcontent col-lg-12">
                
                                    <div class="single-post mb-0">
                
                                        <!-- Single Post
                                                          ============================================= -->
                                        <div class="entry clearfix">
                                            <!-- Entry Content
                                                              ============================================= -->
                                            <div class="entry-content mt-0">
                                                <div class="" style="text-align: justify;">
                                                    <span style="font-size: 20px;">
                                                        Located in Chiang Mai, Thailand, Grace International School (GIS) was created to
                                                        provide a high quality Christian education for the children of international
                                                        workers located in Southeast Asia. Our primary goal at GIS is to allow these
                                                        families to continue to work in their fields without having to compromise the
                                                        education of their children.
                                                    </span>
                                                </div>
                
                                                <div class="pt-3 mb-3" style="text-align: justify;">
                                                    <span style="font-size: 20px; ;">
                                                        In addition to offering a traditional Christian day-school experience, we are
                                                        committed to providing additional services to support both students with special
                                                        needs and homeschooling families.
                                                    </span>
                                                </div>
                
                                                <div class="" style="text-align: justify;">
                                                    <span style="font-size: 20px; ;">
                                                        We offer a strong education where biblical truth permeates all subjects and
                                                        programs. Our staff seeks to demonstrate how diverse subjects inter-relate so
                                                        that GIS students can apply knowledge and skills to all areas of life and live
                                                        out their Christian faith.
                                                    </span>
                                                </div>
                
                                                <div class="" style="text-align: justify;">
                                                    <span style="font-size: 20px; ;">
                                                        Ultimately, we aim to cultivate students of Christ-like character and values who
                                                        will transform their world.
                                                    </span>
                                                </div>
                
                                                <div class="" style="text-align: justify;">
                                                    <span style="font-size: 20px; ;">
                                                        The Non-Thai faculty and staff at GIS have a strong faith in Jesus Christ and
                                                        serve at GIS by raising their own support in order to keep tuition costs
                                                        affordable. The result is a dedicated team committed to providing students with
                                                        an outstanding education from a Christian perspective.
                                                    </span>
                                                </div>
                
                                                <div class="mb-3" style="text-align: justify;">
                                                    <span style="font-size: 20px; ;">
                                                        The school is located in a suburban area southwest of Chiang Mai, Thailand.
                                                        Chiang Mai, the second largest province in Thailand, is nestled in the scenic
                                                        Ping River valley at the foot of Doi Suthep Mountain. With an international
                                                        airport, rail and bus lines, and major highway routes, Chiang Mai is
                                                        well-connected with the rest of Southeast Asia and the world.
                                                    </span>
                                                </div>
                                                <br>
                                            </div>
                                        </div><!-- .entry end -->
                                    </div>
                                </div><!-- .postcontent end -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- #content end -->
