<!-- Content
	============================================= -->
<section id="content" style="white-space: pre-line;">
  <div class="content-wrap py-0">

    <div id="section-services" class="page-section pt-0">
      <div class="section m-0">
        <!-- Testimonial Page Section
				============================================= -->
        <div id="testimonial" class="section page-section parallax pb-0 dark clearfix"
          style="background-color: #2c2d2f;" data-bottom-top="background-position:0px 0px;"
          data-top-bottom="background-position:0px -300px;">
          <div class="container clearfix">

            <!-- Testimonial Slider
						============================================= -->
            <div
              class="fslider testimonial testimonial-full bg-transparent border-0 shadow-none p-0 bottommargin-sm mx-auto clearfix"
              data-arrows="false" style="max-width: 1500px; height: 400px;">
              <div class="col-lg-12 row">
                <div class="mobile col-lg-6 text-center">
                  <img src="../assets/images/home/contact-us/Graceland_bedge.png" style=" margin-top: 100px; width:50%;" alt="Image">
                </div>
                <div class="col-lg-6">
                  <h2 class="text-left font-size" style="margin-top: 100px; font-size: 60px;">
                    {{ 'Contact.title' | translate }}</h2>
                  <hr>
                  <h3 class="font-size font">{{ 'Contact.detail' | translate }}</h3>
                  <div class="col-lg-12 row pt-3">
                    <div class="col-lg-4 offset-lg-8">
                      <a href="/contact" class="button button-dark">
                        <p class=""
                          style="color: #ffff; font-size:20px; font-family: 'Libre Baskerville', 'Prompt', serif !important; margin-top:10px;">
                          {{ 'Contact.title' | translate }}</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Clients Logo Carousel Area
					============================================= -->
          <div id="oc-clients" class="owl-carousel owl-carousel-full image-carousel carousel-widget topmargin-lg mb-0"
            data-margin="0" data-nav="false" data-pagi="false" data-items-xs="3" data-items-sm="3" data-items-md="5"
            data-items-lg="8" data-items-xl="8" data-loop="fales"
            style="z-index: 2; border-top: 1px solid rgba(255,255,255,0.15); ">

            <!-- Clients items
						============================================= -->
            <div class="oc-item mb-3 pt-3"
              style=" border-top: 1px solid #ffff; border-right: 1px solid #ffff; border-left: 1px solid #ffff; ">
              <div class="container">
                <div class="col-lg-12 text-center">
                  <h2 class="text-white font-time magin-l">1 <a href="#" class="h2"
                      style=" color: darkgrey;">{{ 'Contact.time' | translate }}</a></h2>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail1.1' | translate }}</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail1.2' | translate }}</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail1.3' | translate }}</p>
                </div>
              </div>
            </div>
            <div class="oc-item mb-3 pt-3" style=" border-top: 1px solid #ffff; border-right: 1px solid #ffff;">
              <div class="container">
                <div class="col-lg-12 text-center">
                  <h2 class="text-white font-time magin-l">5 <a href="#" class="h2"
                      style=" color: darkgrey;">{{ 'Contact.time' | translate }}</a></h2>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail2.1' | translate }}</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail2.2' | translate }}</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p style="color:#282828;">.</p>
                </div>
              </div>
            </div>
            <div class="oc-item mb-3 pt-3" style=" border-top: 1px solid #ffff; border-right: 1px solid #ffff;">
              <div class="container">
                <div class="col-lg-12 text-center">
                  <h2 class="text-white font-time magin-l">5 <a href="#" class="h2"
                      style=" color: darkgrey;">{{ 'Contact.time' | translate }}</a></h2>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail3.1' | translate }}</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail3.2' | translate }}</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p style="color:#282828;">.</p>
                </div>
              </div>
            </div>
            <div class="oc-item mb-3 pt-3" style=" border-top: 1px solid #ffff; border-right: 1px solid #ffff;">
              <div class="container">
                <div class="col-lg-12 text-center">
                  <h2 class="text-white font-time magin-l">10 <a href="#" class="h2"
                      style=" color: darkgrey;">{{ 'Contact.time' | translate }}</a></h2>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail4.1' | translate }}</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail4.2' | translate }}</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p style="color:#282828;">.</p>
                </div>
              </div>
            </div>
            <div class="oc-item mb-3 pt-3" style=" border-top: 1px solid #ffff; border-right: 1px solid #ffff;">
              <div class="container">
                <div class="col-lg-12 text-center ">
                  <h2 class="text-white font-time magin-l">15 <a href="#" class="h2"
                      style=" color: darkgrey;">{{ 'Contact.time' | translate }}</a></h2>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail5' | translate }}</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p style="color:#282828;">.</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p style="color:#282828;">.</p>
                </div>
              </div>
            </div>
            <div class="oc-item mb-3 pt-3" style=" border-top: 1px solid #ffff; border-right: 1px solid #ffff;">
              <div class="container">
                <div class="col-lg-12 text-center">
                  <h2 class="text-white font-time magin-l">15 <a href="#" class="h2"
                      style=" color: darkgrey;">{{ 'Contact.time' | translate }}</a></h2>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail6.1' | translate }}</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail6.2' | translate }}</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p style="color:#282828;">.</p>
                </div>
              </div>
            </div>
            <div class="oc-item mb-3 pt-3" style=" border-top: 1px solid #ffff; border-right: 1px solid #ffff;">
              <div class="container">
                <div class="col-lg-12 text-center">
                  <h2 class="text-white font-time magin-l">15 <a href="#" class="h2"
                      style=" color: darkgrey;">{{ 'Contact.time' | translate }}</a></h2>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail7.1' | translate }}</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail7.2' | translate }}</p>
                </div>
                <!-- <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail7.3' | translate }}</p>
                </div> -->
              </div>
            </div>
            <div class="oc-item mb-3 pt-3" style=" border-top: 1px solid #ffff; border-right: 1px solid #ffff;">
              <div class="container">
                <div class="col-lg-12 text-center">
                  <h2 class="text-white font-time magin-l">17 <a href="#" class="h2"
                      style=" color: darkgrey;">{{ 'Contact.time' | translate }}</a></h2>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail8.1' | translate }}</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p class="text-white">{{ 'Contact.sub.detail8.2' | translate }}</p>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                  <p style="color:#282828;">.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- #content end -->


<section id="content" style="white-space: pre-line;">
  <div class="content-wrap py-0">

    <div id="section-services" class="page-section pt-0">
      <!-- map google -->
      <div class="container pt-5 mb-5">
        <!--Google map-->
        <div id="map-container-google-3" class="z-depth-1-half map-container-3 mb-5">
          <iframe title="Google Maps"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.3166901935374!2d98.91069231484472!3d18.649779587333924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30da35cccd6c7b29%3A0x489024d3e02a2bbb!2sGraceland%20Family%20Residences!5e0!3m2!1sth!2sth!4v1634630209359!5m2!1sth!2sth"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="row col-lg-12">
          <div class="col-lg-9">
            <div class="border dark">
            </div>
          </div>
        </div>
        <div class="row col-lg-12 pt-3">
          <div class="col-lg-9">
            <p class="h2">
              <!-- Add information to motion client to make buying/investment decisions easier -->
            </p>
          </div>
          <div class="col-lg-3 text-center">
            <a href="/contact" class="button button-desc button-dark button-rounded">
              <div>{{ 'BTN.Inquire' | translate }}</div>
            </a>
          </div>
        </div>
        <div>
        </div>
      </div>
