    <!-- Document Wrapper
	============================================= -->
	<div id="wrapper">

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container">

					<div class="row gutter-50">

						<div class="col-lg-7 portfolio-single-image">

							<!-- Portfolio Single Image
							============================================= -->
							<div class="masonry-thumbs grid-container masonry-gap-xl grid-1 grid-md-2" data-lightbox="gallery">
								<!-- <div class="entry-image  align-wide-lg my-3">
									<iframe src="https://player.vimeo.com/video/87701971" width="100%" height="281" ></iframe>
								</div> -->
									<div class="row" style="margin-bottom: 15px;">
										<div class="col-lg-6">
											<img src="https://via.placeholder.com/355x200" alt="ceo">
										</div>
										<div class="col-lg-6">
											<img src="https://via.placeholder.com/355x200" alt="ceo">
										</div>
									</div>
									<video poster="./assets/images/videos/explore-poster.jpg" preload="auto" controls style="display: block; width: 100%; height:281 px;">
										<source src='./assets/images/videos/explore.webm' type='video/webm' />
										<!-- <source src='./assets/images/videos/explore.mp4' type='video/mp4' /> -->
									</video>
							</div>
                            <!-- .portfolio-single-image end -->
						</div>

						<!-- Portfolio Single Content
						============================================= -->
						<div class="col-lg-5 portfolio-single-content content-sticky">

							<!-- Portfolio Single - Description
							============================================= -->
							<h2>Firstname Lastname</h2>
							<p class="op-07">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, dolores, facere, corrupti delectus ex quidem adipisci tempore.<br><br>
								Illum molestias cupiditate eveniet dolore obcaecati voluptatibus est quos eos id recusandae officia. Cupiditate, voluptates quibusdam ipsum vel corporis laboriosam id est doloremque?
							</p>
							<!-- Portfolio Single - Description End -->

							<div class="line my-5"></div>

							<!-- Portfolio Single - Meta
							============================================= -->
							<ul class="portfolio-meta bottommargin">
								<li><span><i class="icon-user"></i>ตำแหน่ง :</span>Board chairman</li>
								<li><span><i class="icon-graph"></i>สัดส่วนการถือหุ้น :</span>20.34 %</li>
								<li><span><i class="icon-lightbulb"></i>วุฒิทางการศึกษา :</span> 
									ปริญญาตรีที่ Chicago
									/ ปริญญาโทที่เมือง Czech 
									/ ปริญญาเอกที่ วัดดูยูมีน
								</li>
								<!-- <li><span><i class="icon-link"></i>Client:</span> <a href="#">Google</a></li> -->
							</ul>
							<!-- Portfolio Single - Meta End -->

							<div class="line my-5"></div>

						</div><!-- .portfolio-single-content end -->

					</div>

				</div>
			</div>
		</section>
		<!-- #content end -->

	</div><!-- #wrapper end -->