<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1 style="color: #8d7350;">About Graceland</h1>
    </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="fslider" data-arrows="false" data-pagi="false" data-animation="fade" data-hover="false">
                <div class="flexslider">
                </div>
            </div>

            <div class="row gutter-40 col-mb-80">
                <!-- Post Content
        ============================================ -->
                <div class="postcontent col-lg-12">

                    <div class="single-post mb-0">

                        <!-- Single Post
                ============================================ -->
                        <div class="entry clearfix">

                            <!-- Entry Title
                    ============================================ -->
                            <div class="entry-title">
                                <h2 class="text-h-m">{{ 'About.title' | translate }}</h2>
                            </div>
                            <!-- .entry-title end -->

                            <!-- Entry Meta
                    ============================================ -->
                            <div class="entry-meta">
                            </div>
                            <!-- .entry-meta end -->

                            <!-- Entry Content
                    ============================================ -->
                            <div class="entry-content mt-0">
                                <div class="responsive-pc">
                                    <span class="text-m">
                                        {{ 'About.detail1.pc' | translate }}
                                    </span>
                                </div>
                                <div class="pt-3 mb-3 responsive-pc">
                                    <span class="text-m">
                                        {{ 'About.detail2.pc' | translate }}
                                    </span>
                                </div>
                                <div class="responsive-m-phone">
                                    <span class="text-m">
                                        {{ 'About.detail1.m' | translate }}
                                    </span>
                                </div>
                                <div class="pt-3 mb-3 responsive-m-phone">
                                    <span class="text-m">
                                        {{ 'About.detail2.m' | translate }}
                                    </span>
                                </div>
                                <div class="mb-3">
                                    <span class="text-m">
                                        {{ 'About.detail3' | translate }}
                                    </span>
                                </div>
                                <div class="col-lg-12 pt-3 mb-3">
                                    <div class="col-lg-11 offset-1 row">
                                        <ol class="list-group list-group-numbered responsive-pc">
                                            <li class="d-flex justify-content-between align-items-start mb-3 text-m">
                                                {{ 'About.sub.detail1.pc' | translate }}
                                            </li>
                                            <li class="d-flex justify-content-between align-items-start mb-3 text-m">
                                                {{ 'About.sub.detail2.pc' | translate }}
                                            </li>
                                            <li class="d-flex justify-content-between align-items-start mb-3 text-m">
                                                {{ 'About.sub.detail3.pc' | translate }}
                                            </li>
                                        </ol>
                                        <ol class="list-group list-group-numbered responsive-m-phone">
                                            <li class="d-flex  align-items-start mb-3 text-m">
                                                {{ 'About.sub.detail1.m' | translate }}
                                            </li>
                                            <li class="d-flex  align-items-start mb-3 text-m">
                                                {{ 'About.sub.detail2.m' | translate }}
                                            </li>
                                            <li class="d-flex  align-items-start mb-3 text-m">
                                                {{ 'About.sub.detail3.m' | translate }}
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="col-lg-12 pt-3 mb-5">
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation" style="margin-left: 20px;">
                                            <button class="btn btn-outline-warning active mb-3" id="pills-home-tab"
                                                data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
                                                role="tab" aria-controls="pills-home" aria-selected="true"
                                                style="width: 300px; border-radius:20px;">
                                                Graceland Master Plan View
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation" style="margin-left: 20px;">
                                            <button class="btn btn-outline-warning" id="pills-profile-tab"
                                                data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
                                                role="tab" aria-controls="pills-profile" aria-selected="false"
                                                style="width: 300px; border-radius:20px ;">
                                                Graceland Master Plan Phase 1A
                                            </button>
                                        </li>
                                    </ul>
                                    <div data-animate="fadeIn" data-delay="100" class="tab-content"
                                        id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                            aria-labelledby="pills-home-tab">
                                            <!-- Entry Image
                                                ============================================ -->
                                            <div class="entry-image align-wide-xl my-3">
                                                <img data-src="./assets/images/about-us/about-us/master_plan_B1.png"
                                                    alt="Blog Single" class="lazyload">
                                                <figcaption class="text-center mt-2 text-muted text-smaller">
                                                    Master Plan Graceland View.
                                                </figcaption>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                            aria-labelledby="pills-profile-tab">
                                            <!-- Entry Image
                                                ============================================ -->
                                            <div class="entry-image align-wide-xl my-3">
                                                <!-- <a href="#"> -->
                                                <img data-src="./assets/images/about-us/about-us/master-plan-view.png"
                                                    alt="Blog Single" class="lazyload">
                                                <!-- </a> -->
                                                <figcaption class="text-center mt-2 text-muted text-smaller">
                                                    Master Plan Graceland Phase 1A.
                                                </figcaption>
                                            </div>
                                            <!-- .entry-image end -->
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <label style="color: #8d7350;">
                                        {{ 'MaterialUsed.tittle' | translate }}
                                    </label>
                                </div>
                                <div class="col-lg-12 pt-3 mb-5">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12 row">
                                            <ol class="list-group">
                                                <li class="d-flex justify-content-between align-items-start mb-3">
                                                    <i class="icon-line-check"
                                                        style="margin-right: 20px; margin-left: 30px;"></i>
                                                    <div class="ms-2 me-auto text-m">
                                                        {{ 'MaterialUsed.detail1' | translate }}
                                                    </div>
                                                </li>
                                                <li class="d-flex justify-content-between align-items-start mb-3">
                                                    <i class="icon-line-check"
                                                        style="margin-right: 20px; margin-left: 30px;"></i>
                                                    <div class="ms-2 me-auto text-m">
                                                        {{ 'MaterialUsed.detail2' | translate }}
                                                    </div>
                                                </li>
                                                <li class="d-flex justify-content-between align-items-start mb-3">
                                                    <i class="icon-line-check"
                                                        style="margin-right: 20px; margin-left: 30px;"></i>
                                                    <div class="ms-2 me-auto text-m">
                                                        {{ 'MaterialUsed.detail3' | translate }}
                                                    </div>
                                                </li>
                                                <li class="d-flex justify-content-between align-items-start mb-3">
                                                    <i class="icon-line-check"
                                                        style="margin-right: 20px; margin-left: 30px;"></i>
                                                    <div class="ms-2 me-auto text-m">
                                                        {{ 'MaterialUsed.detail4' | translate }}
                                                    </div>
                                                </li>
                                                <li class="d-flex justify-content-between align-items-start mb-3">
                                                    <i class="icon-line-check"
                                                        style="margin-right: 20px; margin-left: 30px;"></i>
                                                    <div class="ms-2 me-auto text-m">
                                                        {{ 'MaterialUsed.detail5' | translate }}
                                                    </div>
                                                </li>
                                                <li class="d-flex justify-content-between align-items-start mb-3">
                                                    <i class="icon-line-check"
                                                        style="margin-right: 20px; margin-left: 30px;"></i>
                                                    <div class="ms-2 me-auto text-m">
                                                        {{ 'MaterialUsed.detail6' | translate }}
                                                    </div>
                                                </li>
                                                <li class="d-flex justify-content-between align-items-start mb-3">
                                                    <i class="icon-line-check"
                                                        style="margin-right: 20px; margin-left: 30px;"></i>
                                                    <div class="ms-2 me-auto text-m ">
                                                        {{ 'MaterialUsed.detail7' | translate }}
                                                    </div>
                                                </li>
                                                <li class="d-flex justify-content-between align-items-start mb-3">
                                                    <i class="icon-line-check"
                                                        style="margin-right: 20px; margin-left: 30px;"></i>
                                                    <div class="ms-2 me-auto text-m">
                                                        {{ 'MaterialUsed.detail8' | translate }}
                                                    </div>
                                                </li>
                                                <li class="d-flex justify-content-between align-items-start mb-3">
                                                    <i class="icon-line-check"
                                                        style="margin-right: 20px; margin-left: 30px;"></i>
                                                    <div class="ms-2 me-auto text-m">
                                                        {{ 'MaterialUsed.detail9' | translate }}
                                                    </div>
                                                </li>
                                                <li class="d-flex justify-content-between align-items-start mb-3">
                                                    <i class="icon-line-check"
                                                        style="margin-right: 20px; margin-left: 30px;"></i>
                                                    <div class="ms-2 me-auto text-m">
                                                        {{ 'MaterialUsed.detail10' | translate }}
                                                    </div>
                                                </li>
                                                <li class="d-flex justify-content-between align-items-start mb-3">
                                                    <i class="icon-line-check"
                                                        style="margin-right: 20px; margin-left: 30px;"></i>
                                                    <div class="ms-2 me-auto text-m">
                                                        {{ 'MaterialUsed.detail11' | translate }}
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>

                                <div class="container text-center">
                                    <label class="text-h-m" style="color: #8d7350;">
                                        {{ 'Community.bank' | translate }}
                                    </label>
                                </div>

                                <div data-animate="fadeIn" data-delay="100" class="row mb-4 text-center">
                                    <div class="col-sm-6 mb-3">
                                        <img data-src="/assets/images/about-us/about-us/09.png" alt="Image"
                                            class="lazyload">
                                    </div>
                                    <div class="col-sm-6">
                                        <img data-src="/assets/images/about-us/about-us/2.png" alt="Image"
                                            class="lazyload">
                                    </div>
                                </div>
                            </div>
                        </div><!-- .entry end -->
                    </div>
                </div><!-- .postcontent end -->
            </div>
        </div>
    </div>
</section>
<!-- #content end -->

<!-- Namthong
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1 style="color: #8d7350;">Namthong Group</h1>
    </div>

</section><!-- #Namthong end -->

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row gutter-40 col-mb-80">
                <!-- Post Content
        ============================================ -->
                <div class="postcontent col-lg-12">

                    <div class="single-post mb-0">

                        <!-- Single Post
                ============================================ -->
                        <div class="entry clearfix" style="white-space: pre-line">


                            <!-- Entry Content
                    ============================================ -->
                            <div class="entry-content mt-0">
                                <div class="row align-wide-xl mb-5 text-center">
                                    <div data-animate="fadeIn" data-delay="100" class="col-sm-12">
                                        <img data-src="./assets/images/about-us/namthong-group/Picture_3.90.1.png"
                                            alt="Image" class="lazyload">
                                    </div>
                                </div>
                                <div class="responsive-pc">
                                    <label class="text-m-h">
                                        {{ 'Namthong.detail1.pc' | translate }}
                                    </label>
                                </div>
                                <div class="responsive-m-phone text-center">
                                    <label class="text-m-h">
                                        {{ 'Namthong.detail1.m' | translate }}
                                    </label>
                                </div>
                                <div class="pt-2 mb-5 responsive-pc">
                                    <label class="text-m-d">
                                        {{ 'Namthong.detail2.pc' | translate }}
                                    </label>
                                    <a data-animate="fadeIn" data-delay="100" href="http://www.namthonggroup.com/"
                                        target="_blank" rel="noreferrer">
                                        <button type="button"
                                            class="button button-border button-circle button-yellow">Go to Namthong
                                            group</button>
                                    </a>
                                </div>
                                <div class="mb-5 responsive-m-phone text-center">
                                    <label class="text-m-d " style="color: #8d7249;">
                                        {{ 'Namthong.detail2.m' | translate }}
                                    </label>
                                    <a data-animate="fadeIn" data-delay="100" href="http://www.namthonggroup.com/"
                                        target="_blank" rel="noreferrer">
                                        <button type="button"
                                            class="button button-border button-circle button-yellow">Go to Namthong
                                            group</button>
                                    </a>
                                </div>
                                <div data-animate="fadeIn" data-delay="100" class="row align-wide-xl mb-4 text-center">
                                    <div class="col-sm-6 mb-3">
                                        <img data-src="./assets/images/about-us/namthong-group/Picture_3.76.1.png"
                                            alt="Image" class="lazyload">
                                    </div>
                                    <div class="col-sm-6">
                                        <img data-src="./assets/images/about-us/namthong-group/Picture_1.9.1.png"
                                            alt="Image" class="lazyload">
                                    </div>
                                </div>
                                <!-- Post Single - Content End -->
                            </div>
                            <label style="color: #8d7350;" class="text-m-l responsive-pc">
                                {{ 'Netatech.title' | translate }}
                            </label>
                            <label style="color: #8d7350;" class="text-m-l responsive-m-phone text-center">
                                {{ 'Netatech.title' | translate }}
                            </label>
                            <div class="mb-5 ">
                                <span class="text-m responsive-pc">
                                    {{ 'Netatech.detail.pc' | translate }}
                                </span>
                                <div class="responsive-pc">
                                    <br>
                                    <a data-animate="fadeIn" data-delay="100" href="https://www.netatech.com.sg/"
                                        target="_blank" rel="noreferrer">
                                        <button type="button"
                                            class="button button-border button-circle button-yellow">Go to
                                            Netatech</button>
                                    </a>
                                </div>
                                <span class="text-m responsive-m-phone text-center">
                                    {{ 'Netatech.detail.m' | translate }}
                                </span>
                                <div class="responsive-m-phone text-center">
                                    <a data-animate="fadeIn" data-delay="100" href="https://www.netatech.com.sg/"
                                        target="_blank" rel="noreferrer">
                                        <button type="button"
                                            class="button button-border button-circle button-yellow">Go to
                                            Netatech</button>
                                    </a>
                                </div>
                            </div>
                            <div data-animate="fadeIn" data-delay="100"
                                class="row align-wide-xl justify-content-center mb-4 text-center">
                                <div class="col-sm-6 mb-5">
                                    <img data-src="./assets/images/about-us/namthong-group/20201126_112723.jpg"
                                        alt="Image" class="lazyload">
                                </div>
                                <div class="col-sm-6 mb-5">
                                    <img data-src="./assets/images/about-us/namthong-group/20210301_120306.jpg"
                                        alt="Image" class="lazyload">
                                </div>
                                <div class="col-sm-6 mb-5">
                                    <img data-src="./assets/images/about-us/namthong-group/Netatech.png" alt="Image"
                                        class="lazyload">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container clearfix">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="feature-box fbox-effect flex-column">
                <div class="fbox-content">
                    <h1 style="margin-bottom: 25px;color: #d39e0a; text-align: center;" class="responsive-text-l">
                        {{'SuccessStory' | translate }}</h1>
                    <iframe data-animate="fadeIn" data-delay="100" height="315"
                        src="https://www.youtube.com/embed/m6kwiHmknQ8" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <hr style="margin-top: 100px; color:#ffff">
        </div>
        <div class="col-lg-6">
            <div class="feature-box fbox-effect flex-column">
                <div class="fbox-content">
                    <h1 style="margin-bottom: 25px;color: #d39e0a; text-align: center;" class="responsive-text-r">
                        {{'CustomerReview' | translate }}
                    </h1>
                    <iframe data-animate="fadeIn" data-delay="100" height="315"
                        src="https://www.youtube.com/embed/pSwAveeNsAw" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <hr style="margin-top: 100px; color:#ffff">
        </div>
    </div>
</div>


<div class="responsive-pc">
    <section id="page-title">
        <div class="container clearfix">
            <h1 style="color: #8d7350;">{{ 'Ceo.title' | translate }}</h1>
        </div>
    </section><!-- #Namthong end -->

    <!-- Document Wrapper
        ============================================= -->
    <div id="wrapper">

        <!-- Content
            ============================================= -->
        <section id="content">
            <div class="content-wrap">
                <div class="container">
                    <div class="row gutter-50">
                        <div class="col-lg-7 portfolio-single-image">
                            <!-- Portfolio Single Image
                                ============================================= -->
                            <div data-animate="fadeIn" data-delay="100"
                                class="masonry-thumbs grid-container masonry-gap-xl grid-1 grid-md-2"
                                data-lightbox="gallery">
                                <div class="row" style="margin-bottom: 15px;">
                                    <img src="./assets/images/about-us/ceo/DSC06386-pc.jpeg" alt="ceo">
                                </div>
                            </div>
                            <!-- .portfolio-single-image end -->
                        </div>
                        <!-- Portfolio Single Content
                            ============================================= -->
                        <div class="col-lg-5 portfolio-single-content content-sticky">
                            <!-- Portfolio Single - Description
                                ============================================= -->
                            <h2>{{ 'Ceo.Name' | translate }}</h2>
                            <div>
                                <span class="op-07">
                                    {{ 'Ceo.detail.pc' | translate }}
                                </span>
                            </div>
                            <div class="line my-5"></div>
                            <!-- Portfolio Single - Meta
                                ============================================= -->
                            <div class="col-lg-12 row">
                                <div class="col-lg-3">
                                    <h2 style="font-size: 14px;">
                                        <i class="icon-user"></i> {{ 'Ceo.position' | translate }} :
                                    </h2>
                                </div>
                                <div class="col-lg-9">
                                    <h2 style="font-size: 14px;">{{ 'Ceo.position.detail' | translate }}</h2>
                                </div>
                            </div>
                            <div class="line my-5"></div>
                        </div><!-- .portfolio-single-content end -->
                    </div>
                </div>
            </div>
        </section>
        <!-- #content end -->
    </div><!-- #wrapper end -->
    <section id="page-title">
        <div class="container clearfix">
            <h1>{{ 'Ceo.story.title' | translate }}</h1>
        </div>
    </section><!-- #Namthong end -->
    <!-- Content
                    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="row gutter-40 col-mb-80">
                    <!-- Post Content
                                                    ============================================= -->
                    <div class="postcontent col-lg-12">
                        <div class="single-post mb-0">
                            <!-- Single Post
                                                            ============================================= -->
                            <div class="entry clearfix">
                                <!-- Entry Content
                                                                ============================================= -->
                                <div class="entry-content mt-0">
                                    <p class="h2">{{ 'province1' | translate }}</p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th colspan="3"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-m" colspan="3">{{ 'Ceo.story1' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" width="15%"></td>
                                                <td class="text-m" colspan="2">{{ 'Ceo.story1.detail1' | translate }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m" width="6%"></td>
                                                <td class="text-m">{{ 'Ceo.story1.detail2' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m"></td>
                                                <td class="text-m">{{ 'Ceo.story1.detail3' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m" colspan="2">{{ 'Ceo.story1.detail4' | translate }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m"></td>
                                                <td class="text-m">{{ 'Ceo.story1.detail5' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m" colspan="2">{{ 'Ceo.story1.detail6' | translate }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m"></td>
                                                <td class="text-m">{{ 'Ceo.story1.detail7' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m" colspan="2">{{ 'Ceo.story1.detail8' | translate }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m"></td>
                                                <td class="text-m">{{ 'Ceo.story1.detail9' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m"></td>
                                                <td class="text-m">{{ 'Ceo.story1.detail10' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m" colspan="2">{{ 'Ceo.story1.detail11' | translate }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" colspan="3">{{ 'Ceo.story2' | translate }} </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" width="5%"></td>
                                                <td class="text-m" colspan="2">
                                                    {{ 'Ceo.story2.detail11' | translate }} <br>
                                                    {{ 'Ceo.story2.detail12' | translate }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" colspan="3">{{ 'Ceo.story3' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" width="15%"></td>
                                                <td class="text-m" colspan="2">
                                                    {{ 'Ceo.story3.detail11' | translate }}<br>
                                                    {{ 'Ceo.story3.detail12' | translate }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" colspan="3">{{ 'Ceo.story4' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" width="5%"></td>
                                                <td class="text-m" colspan="2">{{ 'Ceo.story4.detail11' | translate }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <p class="h2">{{ 'province3' | translate }}</p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th colspan="3"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-m" colspan="3">{{ 'Ceo.story5' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" width="15%"></td>
                                                <td class="text-m" colspan="2">{{ 'Ceo.story5.detail11' | translate }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <br>
                                </div>
                            </div><!-- .entry end -->
                        </div>
                    </div><!-- .postcontent end -->
                </div>
            </div>
        </div>
    </section>
    <!-- #content end -->
</div>

<div data-animate="fadeInUp" data-delay="200" class="responsive-m-phone">
    <section id="page-title">
        <div class="container clearfix">
            <h1 style="color: #8d7350; font-size: 6vw;">{{ 'Ceo.title' | translate }}</h1>
        </div>
    </section><!-- #Namthong end -->

    <!-- Document Wrapper
        ============================================= -->
    <div id="wrapper">

        <!-- Content
            ============================================= -->
        <section id="content">
            <div class="content-wrap">
                <div class="container">
                    <div class="row">
                        <!-- Portfolio Single Content
                            ============================================= -->
                        <div class="col-lg-5 portfolio-single-content content-sticky">
                            <!-- Portfolio Single - Description
                                ============================================= -->
                            <p class="text-h-ceo mb-3 text-center">{{ 'Ceo.Name' | translate }}</p>
                            <!-- Portfolio Single - Description End -->
                        </div>
                        <!-- .portfolio-single-content end -->
                    </div>
                    <div class="row">
                        <div class="col-lg-12 portfolio-single-image">
                            <div class="masonry-thumbs grid-container masonry-gap-xl grid-1 grid-md-2"
                                data-lightbox="gallery">
                                <div class="row" style="margin-bottom: 15px;">
                                    <img src="./assets/images/about-us/ceo/DSC06386-m.jpeg" alt="ceo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12  mt-3 mb-4 text-center">
                            <span class="op-07 responsive-position-detail" style="color: #8d7249; font-size: 3vw;">
                                {{ 'Ceo.position.detail' | translate }}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Portfolio Single Content
                            ============================================= -->
                        <div class="col-lg-12 portfolio-single-content content-sticky ">
                            <!-- Portfolio Single - Description
                                ============================================= -->
                            <div>
                                <span class="">
                                    {{ 'Ceo.detail.m' | translate }}
                                </span>
                            </div>
                            <!-- Portfolio Single - Description End -->
                        </div><!-- .portfolio-single-content end -->
                    </div>
                </div>
            </div>
        </section>
        <!-- #content end -->
    </div><!-- #wrapper end -->
    <section id="page-title">
        <div class="container clearfix">
            <h1>{{ 'Ceo.story.title' | translate }}</h1>
        </div>
    </section><!-- #Namthong end -->
    <!-- Content
                    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="row col-mb-80">
                    <!-- Post Content
                                                    ============================================= -->
                    <div class="postcontent col-lg-12">
                        <div class="single-post mb-0">
                            <!-- Single Post                                                           ============================================= -->
                            <div class="entry clearfix">
                                <!-- Entry Content                                                              ============================================= -->
                                <div class="entry-content mt-0">
                                    <p class="text-h-ceo">{{ 'province1' | translate }}</p>
                                    <table class="table table-striped">
                                        <!-- <table class="table table-bordered"> -->
                                        <thead>
                                            <tr>
                                                <th colspan="3"></th>""
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-m" colspan="3">{{ 'Ceo.story1' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" width="15%"></td>
                                                <td class="text-m" colspan="2">{{ 'Ceo.story1.detail1' | translate }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m" width="6%"></td>
                                                <td class="text-m">{{ 'Ceo.story1.detail2' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m"></td>
                                                <td class="text-m">{{ 'Ceo.story1.detail3' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m" colspan="2">{{ 'Ceo.story1.detail4' | translate }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m"></td>
                                                <td class="text-m">{{ 'Ceo.story1.detail5' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m" colspan="2">{{ 'Ceo.story1.detail6' | translate }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m"></td>
                                                <td class="text-m">{{ 'Ceo.story1.detail7' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m" colspan="2">{{ 'Ceo.story1.detail8' | translate }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m"></td>
                                                <td class="text-m">{{ 'Ceo.story1.detail9' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m"></td>
                                                <td class="text-m">{{ 'Ceo.story1.detail10' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m"></td>
                                                <td class="text-m" colspan="2">{{ 'Ceo.story1.detail11' | translate }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" colspan="3">{{ 'Ceo.story2' | translate }} </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" width="5%"></td>
                                                <td class="text-m" colspan="2">
                                                    {{ 'Ceo.story2.detail11' | translate }} <br>
                                                    {{ 'Ceo.story2.detail12' | translate }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" colspan="3">{{ 'Ceo.story3' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" width="15%"></td>
                                                <td class="text-m" colspan="2">
                                                    {{ 'Ceo.story3.detail11' | translate }}<br>
                                                    {{ 'Ceo.story3.detail12' | translate }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" colspan="3">{{ 'Ceo.story4' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" width="5%"></td>
                                                <td class="text-m" colspan="2">{{ 'Ceo.story4.detail11' | translate }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <p class="text-h-ceo">{{ 'province3' | translate }}</p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th colspan="3"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-m" colspan="3">{{ 'Ceo.story5' | translate }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-m" width="15%"></td>
                                                <td class="text-m" colspan="2">{{ 'Ceo.story5.detail11' | translate }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <br>
                                </div>
                            </div><!-- .entry end -->
                        </div>
                    </div><!-- .postcontent end -->
                </div>
            </div>
        </div>
    </section>
    <!-- #content end -->
</div>