<!-- Content
		============================================= -->

        <section id="content">
            <div class="content-wrap py-0">
    
                <div class="row align-items-stretch justify-content-between block-contact-1 g-0">
    
                    <div class="col-md-5">
                        <div class="dark h-100 min-vh-md-100 d-flex flex-column justify-content-between p-5"
                            style='background-color: #8d7350;'>
                            <div>
                                <h1 class="fw-bold mb-1">{{ 'Contact.title' | translate}}</h1>
                            </div>
    
                            <div>
                                <div class="feature-box fbox-sm mb-4">
                                    <div class="fbox-icon">
                                        <i class="icon-line-map-pin bg-transparent text-white p-0"></i>
                                    </div>
                                    <div class="fbox-content">
                                        <h4 class="nott font-body fw-normal mb-2">
                                            <a href="https://www.google.com/maps/place/Graceland+Family+Residences/@18.6497796,98.9106923,17z/data=!3m1!4b1!4m5!3m4!1s0x30da35cccd6c7b29:0x489024d3e02a2bbb!8m2!3d18.6497796!4d98.912881"
                                                data-lightbox="iframe" class="text-white" target="_blank" rel="noreferrer">
                                                <p>{{ 'Address.footer' | translate}}</p>
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="feature-box fbox-sm mb-4">
                                    <div class="fbox-icon">
                                        <i class="icon-line-phone-call bg-transparent text-white p-0"></i>
                                    </div>
                                    <div class="fbox-content">
                                        <h4 class="nott font-body fw-normal mb-2"><a class="text-white"
                                                href="tel:0995035999">+66 99 5035 999</a></h4>
                                    </div>
                                </div>
                                <div class="feature-box fbox-sm mb-4">
                                    <div class="fbox-icon">
                                        <i class="icon-line-phone-call bg-transparent text-white p-0"></i>
                                    </div>
                                    
                                    <div class="fbox-content">
                                        <h4 class="nott font-body fw-normal mb-2"><a class="text-white"
                                                href="tel:0974261474">+66 97 4261 474</a></h4>
                                    </div>
                                </div>
                                <div class="feature-box fbox-sm mb-4">
                                    <div class="fbox-icon">
                                        <i class="icon-line-phone-call bg-transparent text-white p-0"></i>
                                    </div>
                                    <div class="fbox-content">
                                        <h4 class="nott font-body fw-normal mb-2"><a class="text-white"
                                                href="tel:0611639282">+66 61 1639 282</a></h4>
                                    </div>
                                </div>
                                <!-- <div class="feature-box fbox-sm mb-5 mb-md-0">
                                    <div class="fbox-icon">
                                        <i class="icon-line-mail bg-transparent text-white p-0"></i>
                                    </div>
                                    <div class="fbox-content">
                                        <h4 class="nott font-body fw-normal mb-2"><a class="text-white"
                                                href="mailto:gracelandchiangmai@gmail.com">gracelandchiangmai@gmail.com</a></h4>
                                    </div>
                                </div> -->
                            </div>
    
                            <div>
                                <a href="https://www.facebook.com/GracelandCNX/" target="_blank" rel="noreferrer" class="social-icon si-rounded si-borderless si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UC34CpTNuGYBoWra3I2L2WoA" target="_blank" rel="noreferrer" class="social-icon si-rounded si-borderless si-youtube">
                                    <i class="icon-youtube"></i>
                                    <i class="icon-youtube"></i>
                                </a>
                                <a href="https://lin.ee/mKB98Am" target="_blank" rel="noreferrer" class="social-icon si-rounded si-borderless si-line">
                                    <i class="icon-line"></i>
                                    <i class="icon-line"></i>
                                </a>
                                <a href="https://www.google.com/maps/place/Graceland+Family+Residences/@18.6497796,98.9106923,17z/data=!3m1!4b1!4m5!3m4!1s0x30da35cccd6c7b29:0x489024d3e02a2bbb!8m2!3d18.6497796!4d98.912881"
                                    target="_blank" rel="noreferrer" class="social-icon si-rounded si-borderless si-gplus">
                                    <i class="icon-line-map-pin"></i>
                                    <i class="icon-line-map-pin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-7 p-5 px-lg-6 d-flex flex-column align-self-center">
                        <div class="form-widget">
    
                            <div class="form-result"></div>
    
                            <form class="mb-0" id="template-contactform" name="template-contactform"
                                action="include/form.php" method="post">
    
                                <div class="form-process">
                                    <div class="css3-spinner">
                                        <div class="css3-spinner-scaler"></div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-md-6 form-group mb-5">
                                        <label for="template-contactform-name">{{ 'Contact.name' | translate}}: <small
                                                class="text-danger">*</small></label>
                                        <input type="text" id="template-contactform-name" name="template-contactform-name"
                                            value="" class="form-control required" placeholder="{{ 'Contact.name' | translate}}" />
                                    </div>
    
                                    <div class="col-md-6 form-group mb-5">
                                        <label for="template-contactform-phone">{{ 'Contact.phone' | translate}}: <small
                                                class="text-danger">*</small></label>
                                        <input type="text" id="template-contactform-phone" name="template-contactform-phone"
                                            value="" class="form-control required" placeholder="+66 123 45678" />
                                    </div>
    
                                    <div class="w-100"></div>
    
                                    <div class="col-12 form-group mb-5">
                                        <label for="template-contactform-email">{{ 'Contact.email' | translate}}: <small
                                                class="text-danger">*</small></label>
                                        <input type="email" id="template-contactform-email"
                                            name="template-contactform-email" value="" class="required email form-control"
                                            placeholder="@gmail.com" />
                                    </div>
    
                                    <div class="w-100"></div>
    
                                    <div class="col-12 form-group mb-5">
                                        <label class="mb-3 h6">{{ 'Contact.type' | translate}}:</label><br>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="template-contactform-subject-family-bliss"
                                                name="template-contactform-subject" class="custom-control-input"
                                                value="family-bliss">
                                            <label class="custom-control-label"
                                                for="template-contactform-subject-family-bliss">
                                                &nbsp;&nbsp;Family Bliss
                                            </label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="template-contactform-subject-family-harmony"
                                                name="template-contactform-subject" class="custom-control-input"
                                                value="family-harmony">
                                            <label class="custom-control-label" 
                                                for="template-contactform-subject-family-harmony">
                                                &nbsp;&nbsp;Family Harmony
                                            </label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="template-contactform-subject-family-delight"
                                                name="template-contactform-subject" class="custom-control-input"
                                                value="family-delight">
                                            <label class="custom-control-label"
                                                for="template-contactform-subject-family-delight">
                                                &nbsp;&nbsp;Family Delight
                                            </label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="template-contactform-subject-family-comfort"
                                                name="template-contactform-subject" class="custom-control-input"
                                                value="family-comfort">
                                            <label class="custom-control-label"
                                                for="template-contactform-subject-family-comfort">
                                                &nbsp;&nbsp;Family Comfort
                                            </label>
                                        </div>
                                    </div>
    
                                    <div class="w-100"></div>
    
                                    <div class="col-12 form-group mb-5">
                                        <label for="template-contactform-message">{{ 'Contact.message' | translate}}: <small
                                                class="text-danger">*</small></label>
                                        <textarea class="required form-control" id="template-contactform-message"
                                            name="template-contactform-message" rows="3"
                                            placeholder="{{ 'Contact.message' | translate}}"></textarea>
                                    </div>
    
                                    <div class="col-12 form-group mb-5 d-none">
                                        <input type="text" id="template-contactform-botcheck"
                                            name="template-contactform-botcheck" value="" class="form-control" />
                                    </div>
    
                                    <div class="col-12 form-group mb-0">
                                        <button class="button button-large rounded m-0 float-end py-3 px-5" type="submit"
                                            id="template-contactform-submit" name="template-contactform-submit"
                                            value="submit" style="background-color: #d49f43;">{{ 'Contact.send' | translate}}</button>
                                    </div>
                                </div>
    
                                <input type="hidden" name="prefix" value="template-contactform-">
    
                            </form>
                        </div>
                    </div>
    
                </div>
    
            </div>
        </section>
    
    <!-- #content end -->