<div class="fslider" data-arrows="false" data-pagi="false" data-animation="fade" data-hover="false">
    <div class="flexslider">

        <!-- <div class="entry-image align-full mb-0">
            <img data-src="https://via.placeholder.com/1520x640"
                alt="Blog Single" class="lazyload" style="width: 100%`; height: 640px;" >
        </div> -->

        <div class="slider-wrap">
            <div class="slide"><img src="https://via.placeholder.com/1520x640" alt="Page Title Image" style="width: 100%; height: 640px;"></div>
            <div class="slide"><img src="https://via.placeholder.com/1520x640" alt="Page Title Image" style="width: 100%; height: 640px;"></div>
            <!-- <div class="slide"><img src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fslider%2FGrace_land_003.webp?alt=media&token=08555af4-f47c-499d-a689-a117063c73c8" alt="Page Title Image"></div>
            <div class="slide"><img src="https://firebasestorage.googleapis.com/v0/b/rabbit-official.appspot.com/o/graceland%2Fslider%2FGrace_land_019.webp?alt=media&token=5871c900-8cc9-4fd9-9f61-328b7c42f74e" alt="Page Title Image"></div>
            <div class="slide"><img src="demos/medical/images/about-us/page-title/2.jpg" alt="Page Title Image"></div>
            <div class="slide"><img src="demos/medical/images/about-us/page-title/3.jpg" alt="Page Title Image"></div>
            <div class="slide"><img src="demos/medical/images/about-us/page-title/4.jpg" alt="Page Title Image"></div> -->
        </div>

        <div class="vertical-middle vertical-middle-overlay">
            <div class="container clearfix center">
                <h1>Benefit</h1>
                <span>A Short Page Title Tagline</span>
            </div>
        </div>

    </div>
</div>

<!-- Content
		============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row gutter-40 col-mb-80">
                <!-- Post Content
						============================================= -->
                <div class="postcontent col-lg-12">

                    <div class="single-post mb-0">

                        <!-- Single Post
								============================================= -->
                        <div class="entry clearfix">

                            <!-- Entry Title
									============================================= -->
                            <div class="entry-title">
                                <h2>Benefit with Graceland</h2>
                            </div>
                            <!-- .entry-title end -->
                            <br>
                            <div class="clear"></div>
                            <!-- Entry Content
									============================================= -->
                            <div class="entry-content mt-0">
                                <h3>
                                    ข้อมูลเกี่ยวกับ Yield
                                </h3>

                                <p>
                                    Nullam id dolor id nibh ultricies vehicula ut id elit.
                                    <a href="#">Curabitur blandit tempus porttitor</a>.
                                    Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo
                                    odio,
                                    dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod
                                    semper.
                                    Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis
                                    euismod semper.
                                </p>

                                <blockquote>
                                    <p>Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at
                                        lobortis.
                                        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                                        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
                                        odio sem nec elit.
                                        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
                                        felis euismod semper.
                                    </p>
                                </blockquote>

                                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis
                                    consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget
                                    metus.</p>

                                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum
                                    nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                                    <a href="#">Nullam quis risus eget urna</a> mollis ornare vel eu leo. Integer
                                    posuere erat a ante venenatis dapibus posuere velit aliquet.
                                </p>

                                <div class="row align-wide-xl mb-4 text-center">
                                    <div class="col-sm-6">
                                        <img data-src="https://via.placeholder.com/546x305"
                                            alt="Image" class="lazyload">
                                        <figcaption class="text-center mt-2 text-muted text-smaller">Image Caption Text
                                        </figcaption>
                                    </div>
                                    <div class="col-sm-6">
                                        <img data-src="https://via.placeholder.com/546x305"
                                            alt="Image" class="lazyload">
                                        <figcaption class="text-center mt-2 text-muted text-smaller">Video Caption Text
                                        </figcaption>
                                    </div>
                                </div>
                                <h3>
                                    การคำนวน Yield
                                </h3>
                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio
                                    sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus,
                                    porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel
                                    scelerisque nisl consectetur et.</p>

                                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus
                                    porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras
                                    justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                                    felis euismod semper. Donec id elit non mi porta gravida at eget metus. Vestibulum
                                    id ligula porta felis euismod semper.</p>

                                <div class="row align-wide-xl mb-4 text-center">
                                    <div class="col-sm-4">
                                        <img data-src="https://via.placeholder.com/360x200"
                                            alt="Image" class="lazyload">
                                        <figcaption class="text-center mt-2 text-muted text-smaller">
                                            Staff without Covid-19
                                        </figcaption>
                                    </div>
                                    <div class="col-sm-4">
                                        <img data-src="https://via.placeholder.com/360x200"
                                            alt="Image" class="lazyload">
                                        <figcaption class="text-center mt-2 text-muted text-smaller">
                                            Staff in masks
                                        </figcaption>
                                    </div>
                                    <div class="col-sm-4">
                                        <img data-src="https://via.placeholder.com/360x200"
                                            alt="Image" class="lazyload">
                                        <figcaption class="text-center mt-2 text-muted text-smaller">
                                            Staff are Vaccinated
                                        </figcaption>
                                    </div>
                                </div>

                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio
                                    sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus,
                                    porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel
                                    scelerisque nisl consectetur et.</p>

                                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus
                                    porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras
                                    justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                                    felis euismod semper. Donec id elit non mi porta gravida at eget metus. Vestibulum
                                    id ligula porta felis euismod semper.</p>

                                <!-- Post Single - Content End -->

                                <div class="clear"></div>
                            </div>
                        </div><!-- .entry end -->


                    </div>

                </div><!-- .postcontent end -->

            </div>

        </div>
    </div>
</section>
<!-- #content end -->